<meta meta charset=utf-8>
<!-- 	<div id="sss"> -->
<!-- 		<select  -->
<!-- 	     	id="selectService"  -->
<!-- 	     	name="selectService"  -->
<!-- 	     	class="form-control"  -->
<!-- 	     	required="required" -->
<!-- 	     	ng-model="visit.service" -->
<!-- 	     	ng-class="{submitted:addVisitForm.submitted}" -->
<!-- 	     	ng-options="service.id as service.serviceName + ' (' + service.price + ')' for service in services" -->
<!-- 	     	style="background: #f6f9fc; width:90%;float:left;"  -->
<!-- 	    > -->
<!-- 	    </select> -->
	    <a href="" ng-click="addNextService()"><span class="glyphicon glyphicon-plus" style="float:right;top:10px;right:10px;"></span></a>
<!--     </div> -->