<meta meta charset=utf-8>
	<div class="main-header">
		<div class="container">
			<div class="row vertical-align">
<!-- 				<div class="col-md-1"> -->
					<span class="page-title">{{'account.account' | translate}}</span>
<!-- 				</div> -->
<!-- 				<div class="col-md-offset-9 col-md-2"> -->
<!-- 					<div class="pull-right"> -->
<!-- 			        	<button  -->
<!-- 			        		id="edit_btn"  -->
<!-- 			        		class="btn btn-primary active" -->
<!-- 			        		ng-click="changeToEdit(true)" -->
<!-- 			        		>Edytuj -->
<!-- 			        	</button> -->
<!-- 			        </div> -->
<!-- 				</div> -->
			</div>
		</div>
	</div>
	
<div class="container" >
  <h1 class="page-header" style="margin-top:0px;"> {{'account.account_details' | translate}}</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12">
      <div class="text-center">
        <img alt="/pics/defaultAvatar.png" src="/download?object_id={{user.id}}" style="height:150px;width=100px;"/>
		<h6>{{user.firstname}} {{user.lastname}}</h6>
		
        <div class="well" " style="width:300px;">
             <div>
                 <div style="float:left;">
                     <button ng-click="btn_upload()">Upload</button>
                     <button ng-click="btn_clean()">Remove all</button>
                 </div>
                 <input type="file" id="file1"/>
             </div>
             <div 
             	ng-repeat="file in files" 
             	style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;"
             >
                 <div>
                 	<span>{{file.name}}</span>
                 	<div style="float:right;">
                  	<span>{{file.humanSize}}</span>
                  	<a ng-click="btn_remove(file)" title="Remove from list to be uploaded">
                  		<i class="icon-remove"></i>
                  	</a>
                 	</div>
                 </div>
                 <progress style="width:250px;" value="{{file.loaded}}" max="{{file.size}}"></progress>
             </div>
		</div>
        
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-7 col-sm-6 col-xs-12 personal-info">
    
      <div class="alert alert-success alert-dismissable" ng-show="successSave">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        <strong>{{'commons.success' | translate}}</strong>{{'commons.changes_have_been_saved' | translate}}
      </div>
      <div class="row col-md-offset-3" style="padding-bottom:10px;">
      	<h3>Personal info</h3>
      </div>
      <div class="row">
      <form  
			name="editUserForm" 
			class="form-horizontal" 
			novalidate
			role="form"
			>
        <div class="form-group">
		  <label 
		  		for="login" 
		  		class="col-lg-3 control-label"
		  		>{{'commons.login' | translate}}:<span  class="required">*</span>
		  </label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="username"
		    	name="username"
				required="required"
				placeholder="login" 
				ng-model="user.username"
				ng-class="{submitted:editUserForm.submitted}"
				ng-minlength="3" 
				ng-maxlength="10"
			>
			<span 
				ng-show="editUserForm.username.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;"
				>{{'login.login_is_required' | translate}}
			</span>
			<span 
				ng-show="editUserForm.username.$error.minlength && editUserForm.submitted" 
				style="color : #f00; float:left;"
				>{{'account.for_short_login' | translate}}
  			</span>
			<span 
				ng-show="editUserForm.firstname.$error.maxlength && editUserForm.submitted" 
				style="color : #f00; float:left;"
				>{{'account.for_long_login' | translate}}
			</span>
<!-- 			<label  -->
<!-- 				for=""  -->
<!-- 				class="control-label" -->
<!-- 				ng-show="!editAccount" -->
<!-- 				>{{user.username}}</label> -->
		  </div>
		</div>
		
		<div class="form-group">
		  <label 
		  		for="firstname" 
		  		class="col-lg-3 control-label"
		  		>{{'commons.firstname' | translate}}:<span  class="required">*</span></label>
		  <div class="col-lg-8">
		  	<input
		  		
		  		class="form-control"
				name="firstname"
				class="kcs-text kcs-input" 
				placeholder="{{'commons.firstname' | translate}}"
				id="firstname" 
				type="text" 
				required
				ng-model="user.firstname"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.firstname.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.firstname_is_required' | translate}}
			</span>
<!-- 				<label  -->
<!-- 				for=""  -->
<!-- 				class="control-label" -->
<!-- 				ng-show="!editAccount" -->
<!-- 				>{{user.firstname}} -->
<!-- 			</label> -->
		  </div>
		</div>
							
		<div class="form-group">
		  <label 
		  		for="lastname" 
		  		class="col-lg-3 control-label"
		  		>{{'commons.lastName' | translate}}:<span  class="required">*</span>
		  	</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="lastname"
		    	name="lastname"
				required="required"
				placeholder="{{'commons.lastName' | translate}}" 
				ng-model="user.lastname"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.lastname.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.lastname_is_required' | translate}}
			</span>
<!-- 			<label  -->
<!-- 				for=""  -->
<!-- 				class="control-label" -->
<!-- 				ng-show="!editAccount" -->
<!-- 				>{{user.lastname}} -->
<!-- 			</label> -->
		  </div>
		</div>
							
		<div class="form-group row">
		  <label 
		  	for="pesel" 
		  	class="col-lg-3 control-label"
		  	>{{'commons.pesel' | translate}}:<span  class="required">*</span>
		  </label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="pesel"
		    	name="pesel"
				required="required"
				placeholder="PESEL" 
				ng-model="user.pesel"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.pesel.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.pesel_is_required' | translate}}
			</span>
<!-- 			<label  -->
<!-- 				for=""  -->
<!-- 				class="control-label" -->
<!-- 				ng-show="!editAccount" -->
<!-- 				>{{user.pesel}} -->
<!-- 			</label> -->
		  </div>
		</div>
							
		<div class="form-group row">
		  <label 
		  		for="email" 
		  		class="col-lg-3 control-label"
		  		>E-mail:<span  class="required">*</span>
		  	</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="email" 
		    	id="email"
		    	name="email"
				required="required"
				placeholder="E-mail" 
				ng-model="user.email"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.email.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.email_is_required' | translate}}
			</span>
			<span 
				ng-show="editUserForm.email.$error.email && editUserForm.submitted" 
				style="color : #f00; float:left;"
				>{{'commons.incorrect_email' | translate}}
			</span>
<!-- 			<label  -->
<!-- 				for=""  -->
<!-- 				class="control-label" -->
<!-- 				ng-show="!editAccount" -->
<!-- 				>{{user.email}} -->
<!-- 			</label> -->
		  </div>
		</div>
					
		<div class="form-group row">
		  <label 
		  		for="phone" 
		  		class="col-lg-3 control-label"
		  		>{{'commons.phone' | translate}}:<span  class="required">*</span>
		  	</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="phone"
		    	name="phone"
				required="required"
				placeholder="{{'commons.incorrect_email' | translate}}" 
				ng-model="user.phone"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.phone.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.phone_is_required' | translate}}
			</span>
<!-- 			<label  -->
<!-- 				for=""  -->
<!-- 				class="control-label" -->
<!-- 				ng-show="!editAccount" -->
<!-- 				>{{user.phone}} -->
<!-- 			</label> -->
		  </div>
		</div>
					
		<div class="form-group row">
		  <label 
		  	for="city" 
		  	class="col-lg-3 control-label"
		  	>{{'commons.city' | translate}}:<span  class="required">*</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="city"
		    	name="city"
				required="required"
				placeholder="miasto" 
				ng-model="user.city"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.city.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.city_is_required' | translate}}
			</span>
<!-- 			<label  -->
<!-- 				for=""  -->
<!-- 				class="control-label" -->
<!-- 				ng-show="!editAccount" -->
<!-- 				>{{user.city}} -->
<!-- 			</label> -->
		  </div>
		</div>
					
		<div class="form-group row">
		  <label 
		  	for="street" 
		  	class="col-lg-3 control-label"
		  	>{{'commons.street' | translate}}:<span class="required">*</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="street"
		    	name="street"
				required="required"
				placeholder="{{'commons.street' | translate}}" 
				ng-model="user.address"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.street.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.street_is_required' | translate}}
			</span>
<!-- 			<label  -->
<!-- 				for=""  -->
<!-- 				class="control-label" -->
<!-- 				ng-show="!editAccount" -->
<!-- 				>{{user.address}} -->
<!-- 			</label> -->
		  </div>
		</div>
					
		<div class="form-group row">
		  <label 
		  	for="number" 
		  	class="col-lg-3 control-label"
		  	>{{'commons.number' | translate}}:<span class="required">*</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="number"
		    	name="number"
				required="required"
				placeholder="Numer" 
				ng-model="user.number"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.number.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.number_is_required' | translate}}
			</span>
<!-- 			<label  -->
<!-- 				for=""  -->
<!-- 				class="control-label" -->
<!-- 				ng-show="!editAccount" -->
<!-- 				>{{user.number}} -->
<!-- 			</label> -->
		  </div>
		</div>
					
		<div class="form-group row">
		  <label 
		  	for="postcode" 
		  	class="col-lg-3 control-label"
		  	>{{'commons.postcode' | translate}}:<span class="required">*</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="postcode"
		    	name="postcode"
				required="required"
				placeholder="{{'commons.postcode' | translate}}" 
				ng-model="user.postCode"
				ng-pattern="/^(\d{2}-\d{3})$/"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.postcode.$error.required && editUserForm.submitted"
				style="color : #f00; float:left;"
				>{{'commons.postcode_is_required' | translate}}
			</span>
			<span 
				ng-show="editUserForm.postcode.$error.pattern && editUserForm.submitted"
				style="color : #f00; float:left;"
				>{{'commons.please_enter_valid_postcode' | translate}}
			</span>
<!-- 			<label  -->
<!-- 				for=""  -->
<!-- 				class="control-label" -->
<!-- 				ng-show="!editAccount" -->
<!-- 				>{{user.postCode}} -->
<!-- 			</label> -->
		  </div>
		</div>
		
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input 
        		type="button" 
        		class="btn btn-primary" 
        		ng-click="editUser(user)"
        		value="{{'commons.save' | translate}}"
        		>
<!--         		<span></span> -->
<!--         	<input  -->
<!--         		type="button"  -->
<!--         		class="btn btn-primary"  -->
<!--         		ng-click="changeToEdit(false)" -->
<!--         		value="{{'commons.end' | translate}}" -->
<!--         		> -->
          </div>
        </div>
      </form>
   	</div>	
    </div>
  </div>
</div>
	
	
<style>
input.submitted.ng-invalid{
  border:2px solid #f00;
}
</style>
	
	
	
	
	
	
	<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Sheena Shrestha</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Department:</td>
                        <td>Programming</td>
                      </tr>
                      <tr>
                        <td>Hire date:</td>
                        <td>06/23/2013</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Female</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>Kathmandu,Nepal</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
	<style>
input.submitted.ng-invalid{
  border:2px solid #f00;
}
	</style>
	
	
