<meta meta charset=utf-8>
	<div class="main-header">
		<div class="container">
			<div class="row vertical-align">
				<div class="col-md-1">
					<span class="page-title">Konto</span>
				</div>
				<div class="col-md-11">
					<div class="pull-right">
			        	<a id="edit_btn" class="btn btn-primary active" href="">Edytuj</a>
			        </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
	<div class="row">
		<div class="text-center">
			<h3>Szczegóły konta</h3>
		</div>
	</div>
	<div class="row" style="padding-top:20px;">
      <!-- left column -->
      <div class="col-md-4 col-md-offset-2">
      	<div class="row">
	        <div class="text-center">
	           <img alt="/pics/defaultAvatar.png" src="/download?object_id={{user.id}}" style="height:150px;width=100px;"/>
	          <h6>{{user.firstname}} {{user.lastname}}</h6>
	          
	         	
	        </div>
	    </div>
	    <div class="row">
	    	<div class="col-md-offset-1">
		        <div class="well" ng-show="editAccount" style="width:300px;">
		                        <div>
		                            <div style="float:left;">
		                                <button ng-click="btn_upload()">Upload</button>
		                                <button ng-click="btn_clean()">Remove all</button>
		                            </div>
		                            <input type="file" id="file1"/>
		                        </div>
		                        <div ng-repeat="file in files" style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
		                            <div><span>{{file.name}}</span><div style="float:right;"><span>{{file.humanSize}}</span><a ng-click="btn_remove(file)" title="Remove from list to be uploaded"><i class="icon-remove"></i></a></div>
		                            </div>
		                            <progress style="width:250px;" value="{{file.loaded}}" max="{{file.size}}"></progress>
		                        </div>
		        </div>
	        </div>
        </div>
        <style>
         		.ng-hide.ng-hide-animate{
     				display: none !important;
				}
         	</style>
      </div>
		<div class="row">
			<div class=" col-md-5">
				<form  
					name="editUserForm" 
					class="form-horizontal" 
					novalidate
					>
					<fieldset>
						<div class="form-group row">
						  <label 
						  		for="login" 
						  		class="col-md-4 control-label"
						  		>Login<span ng-show="editAccount" class="required">*</span>:
						  </label>
						  <div class="col-md-8">
						    <input 
						    	ng-show="editAccount"
						    	class="form-control" 
						    	type="text" 
						    	value="" 
						    	id="login"
						    	name=""
								required="required"
								placeholder="login" 
								ng-model="user.username"
							>
							<label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.username}}</label>
						  </div>
						</div>
						<div class="form-group row">
						  <label for="password" class="col-md-4 control-label">Hasło:</label>
						  <div class="col-md-8">
						    <input
						    	ng-show="editAccount" 
						    	class="form-control" 
						    	type="password" 
						    	value="" 
						    	id="password"
						    	name=""
								required="required"
								placeholder="password" 
								ng-model="user.password"
						    	>
						    <label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.password}}</label>
						  </div>
						</div>		
						<div class="form-group row">
						  <label 
						  		for="firstname" 
						  		class="col-md-4 control-label"
						  		>Imię<span ng-show="editAccount" class="required">*</span>:</label>
						  <div class="col-md-8">
						  	<input
						  		ng-show="editAccount"
						  		class="form-control"
								name="firstname"
								class="kcs-text kcs-input" 
								required="required" 
								placeholder="Imię*"
								id="firstname" 
								value=""
								type="text" 
								required
								ng-model="user.firstname"
								ng-minlength="3" 
								ng-maxlength="10"
								ng-class="{submitted:editUserForm.submitted}"
							>
								<label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.firstname}}
							</label>
							<span 
								ng-show="editUserForm.firstname.$error.required  && editUserForm.submitted" 
								style="color : #f00; float:left;">imię jest wymagane
							</span>
							<span 
	        					ng-show="editUserForm.firstname.$error.minlength && editUserForm.submitted" 
	        					style="color : #f00; float:left;"
	        					>Za krótkie imię
	        				</span>
	        				<span 
	        					ng-show="editUserForm.firstname.$error.maxlength && editUserForm.submitted" 
	        					style="color : #f00; float:left;"
	        					>Za długie imię
	        				</span>
								<span ng-show="editUserForm.firstname.$error.minlength">Za krótkie imię</span>
								<span ng-show="editUserForm.firstname.$error.maxlength">Za długie imię</span>
							
						  </div>
						</div>
						
						<div class="form-group row">
						  <label 
						  		for="lastname" 
						  		class="col-md-4 control-label"
						  		>Nazwisko<span ng-show="editAccount" class="required">*</span>:
						  	</label>
						  <div class="col-md-8">
						    <input 
						    	ng-show="editAccount"
						    	class="form-control" 
						    	type="text" 
						    	value="" 
						    	id="lastname"
						    	name=""
								required="required"
								placeholder="Nazwisko*" 
								ng-model="user.lastname"
							>
							<label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.lastname}}
							</label>
						  </div>
						</div>
						
						<div class="form-group row">
						  <label 
						  	for="pesel" 
						  	class="col-md-4 control-label"
						  	>PESEL<span ng-show="editAccount" class="required">*</span>:
						  </label>
						  <div class="col-md-8">
						    <input 
						    	ng-show="editAccount"
						    	class="form-control" 
						    	type="text" 
						    	value="" 
						    	id="pesel"
						    	name=""
								required="required"
								placeholder="PESEL" 
								ng-model="user.pesel"
							>
							<label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.pesel}}
							</label>
						  </div>
						</div>
						
						<div class="form-group row">
						  <label 
						  		for="email" 
						  		class="col-md-4 control-label"
						  		>Email<span ng-show="editAccount" class="required">*</span>:
						  	</label>
						  <div class="col-md-8">
						    <input 
						    	ng-show="editAccount"
						    	class="form-control" 
						    	type="email" 
						    	value="" 
						    	id="email"
						    	name="email"
								required="required"
								placeholder="E-mail*" 
								ng-model="user.email"
							>
							<label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.email}}
							</label>
								<span style="color:red" ng-show="editUserForm.email.$dirty && editUserForm.email.$invalid">
								<span ng-show="editUserForm.email.$error.required">Email is required.</span>
								<span ng-show="editUserForm.email.$error.email">Invalid email address.</span>
						    	>
						    
						  </div>
						</div>
				
						<div class="form-group row">
						  <label 
						  		for="phone" 
						  		class="col-md-4 control-label"
						  		>Telefon<span ng-show="editAccount" class="required">*</span>:
						  	</label>
						  <div class="col-md-8">
						    <input 
						    	ng-show="editAccount"
						    	class="form-control" 
						    	type="text" 
						    	value="" 
						    	id="phone"
						    	name=""
								required="required"
								placeholder="telefon" 
								ng-model="user.phone"
							>
							<label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.phone}}
							</label>
						  </div>
						</div>
				
						<div class="form-group row">
						  <label for="city" class="col-md-4 control-label">Miasto:</label>
						  <div class="col-md-8">
						    <input 
						    	ng-show="editAccount"
						    	class="form-control" 
						    	type="text" 
						    	value="" 
						    	id="city"
						    	name=""
								required="required"
								placeholder="miasto" 
								ng-model="user.city"
							>
							<label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.city}}
							</label>
						  </div>
						</div>
				
						<div class="form-group row">
						  <label for="street" class="col-md-4 control-label">Ulica:</label>
						  <div class="col-md-8">
						    <input 
						    	ng-show="editAccount"
						    	class="form-control" 
						    	type="text" 
						    	value="" 
						    	id="street"
						    	name=""
								required="required"
								placeholder="ulica" 
								ng-model="user.address"
							>
							<label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.address}}
							</label>
						  </div>
						</div>
				
						<div class="form-group row">
						  <label for="number" class="col-md-4 control-label">Numer:</label>
						  <div class="col-md-8">
						    <input 
						    	ng-show="editAccount"
						    	class="form-control" 
						    	type="text" 
						    	value="" 
						    	id="number"
						    	name=""
								required="required"
								placeholder="Numer" 
								ng-model="user.number"
							>
							<label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.number}}
							</label>
						  </div>
						</div>
				
						<div class="form-group row">
						  <label for="postcode" class="col-md-4 control-label">Kod pocztowy:</label>
						  <div class="col-md-8">
						    <input 
						    	ng-show="editAccount"
						    	class="form-control" 
						    	type="text" 
						    	value="" 
						    	id="postcode"
						    	name="postcode"
								required="required"
								placeholder="Kod pocztowy" 
								ng-model="user.postCode"
								ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
							>
							<label 
								for="" 
								class="control-label"
								ng-show="!editAccount"
								>{{user.postCode}}
							</label>
								<span style="color:red" ng-show="editUserForm.postcode.$dirty && editUserForm.postcode.$invalid">
								<span ng-show="editUserForm.postcode.$error.required">Zip Code is required.</span>
								<span ng-show="editUserForm.postcode.$error.pattern">Please type a valid U.S. or Canadian zip code.</span>
						      </span>
						  </div>
						</div>
						
						<div class="form-group row">
					      <div class="offset-sm-2 col-sm-10">
					      	<div class="pull-right">
					        	<button 
					        		ng-show="editAccount"
					        		type="button" 
					        		class="btn btn-primary" 
					        		ng-click="editUser(user)"
					        		>Zmień</button>
					        	<button 
					        		ng-show="editAccount"
					        		type="button" 
					        		class="btn btn-primary" 
					        		ng-click="changeToEdit(false)"
					        		>Zakończ</button>
					        	<button 
					        		ng-hide="editAccount"
						        	type="button"
						        	class="btn btn-primary" 
						        	ng-click="changeToEdit(true)"
						        	>Edytuj</button>
					        </div>	
					      </div>
				    	</div>
				    </fieldset>
				</form>
			</div>
		</div>
	</div>
	</div>
	
	
	
	
	
	
	
	<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Sheena Shrestha</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Department:</td>
                        <td>Programming</td>
                      </tr>
                      <tr>
                        <td>Hire date:</td>
                        <td>06/23/2013</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Female</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>Kathmandu,Nepal</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
    
    <div class="container" style="padding-top: 60px;">
  <h1 class="page-header">Edit Profile</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="https://fb-s-b-a.akamaihd.net/h-ak-xfa1/v/t1.0-1/c9.0.160.160/p160x160/420257_10151474103567424_1224916620_n.jpg?oh=0932a7be9adb74fd949d0211d9128ad7&oe=58BA7A17&__gda__=1488564886_feb0fc02d6307304a3d43aecff5a804a" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div>
      <h3>Personal info</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="Estela" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="Silva" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Company:</label>
          <div class="col-lg-8">
            <input class="form-control" value="http://tuconsultoraseo.com" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" value="carmenestelasi@gmail.com" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Time Zone:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select id="user_time_zone" class="form-control">
                <option value="Hawaii">(GMT-10:00) Hawaii</option>
                <option value="Alaska">(GMT-09:00) Alaska</option>
                <option value="Pacific Time (US & Canada)">(GMT-08:00) Pacific Time (US & Canada)</option>
                <option value="Arizona">(GMT-07:00) Arizona</option>
                <option value="Mountain Time (US & Canada)">(GMT-07:00) Mountain Time (US & Canada)</option>
                <option value="Central Time (US & Canada)" selected="selected">(GMT-06:00) Central Time (US & Canada)</option>
                <option value="Eastern Time (US & Canada)">(GMT-05:00) Eastern Time (US & Canada)</option>
                <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input class="form-control" value="janeuser" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" value="11111122333" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input class="form-control" value="11111122333" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="button">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
	<style>
input.submitted.ng-invalid{
  border:2px solid #f00;
}
	</style>
