<meta meta charset=utf-8>
	<div class="main-header">
		<div class="container">
			<div class="row vertical-align">
				<span class="page-title">{{'account.account' | translate}}</span>
			</div>
		</div>
	</div>
	
<div class="container" >
  <h1 class="page-header" style="margin-top:0px;"> {{'account.account_details' | translate}}</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12">
      <div class="text-center">
        <img alt="/pics/defaultAvatar.png" src="/download?object_id={{user.id}}" style="height:150px;width=100px;"/>
		<h6>{{user.firstname}} {{user.lastname}}</h6>
		
        <div class="well" " style="width:300px;">
        	<form>
             <div>
                 <div style="float:left;">
                     <button ng-click="btn_upload()">Upload</button>
                     <button ng-click="btn_clean()">Remove all</button>
                 </div>
                 <input type="file" id="file1"/>
             </div>
             <div 
             	ng-repeat="file in files" 
             	style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;"
             >
                 <div>
                 	<span>{{file.name}}</span>
                 	<div style="float:right;">
                  	<span>{{file.humanSize}}</span>
                  	<a ng-click="btn_remove(file)" title="Remove from list to be uploaded">
                  		<i class="icon-remove"></i>
                  	</a>
                 	</div>
                 </div>
                 <progress style="width:250px;" value="{{file.loaded}}" max="{{file.size}}"></progress>
             </div>
             </form>
		</div>
        
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-7 col-sm-6 col-xs-12 personal-info">
    
      <div class="alert alert-success alert-dismissable" ng-show="successSave">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        <strong>{{'commons.success' | translate}}</strong>{{'commons.changes_have_been_saved' | translate}}
      </div>
      <div class="row col-md-offset-3" style="padding-bottom:10px;">
      	<h3>{{'commons.personal_info' | translate}}</h3>
      </div>
      <div class="row">
      <form  
			name="editUserForm" 
			class="form-horizontal" 
			novalidate
			role="form"
			>
        <div class="form-group">
		  <label 
		  		for="login" 
		  		class="col-lg-3 control-label"
		  		>{{'commons.login' | translate}}:<span  class="required">*</span>
		  </label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="username"
		    	name="username"
				required="required"
				placeholder="login" 
				ng-model="user.username"
				ng-class="{submitted:editUserForm.submitted}"
				ng-minlength="3" 
				ng-maxlength="10"
			>
			<span 
				ng-show="editUserForm.username.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;"
				>{{'login.login_is_required' | translate}}
			</span>
			<span 
				ng-show="editUserForm.username.$error.minlength && editUserForm.submitted" 
				style="color : #f00; float:left;"
				>{{'account.for_short_login' | translate}}
  			</span>
			<span 
				ng-show="editUserForm.firstname.$error.maxlength && editUserForm.submitted" 
				style="color : #f00; float:left;"
				>{{'account.for_long_login' | translate}}
			</span>
		  </div>
		</div>
		
		<div class="form-group">
		  <label 
		  		for="firstname" 
		  		class="col-lg-3 control-label"
		  		>{{'commons.firstname' | translate}}:<span  class="required">*</span></label>
		  <div class="col-lg-8">
		  	<input
		  		
		  		class="form-control"
				name="firstname"
				class="kcs-text kcs-input" 
				placeholder="{{'commons.firstname' | translate}}"
				id="firstname" 
				type="text" 
				required
				ng-model="user.firstname"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.firstname.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.firstname_is_required' | translate}}
			</span>
		  </div>
		</div>
							
		<div class="form-group">
		  <label 
		  		for="lastname" 
		  		class="col-lg-3 control-label"
		  		>{{'commons.lastName' | translate}}:<span  class="required">*</span>
		  	</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="lastname"
		    	name="lastname"
				required="required"
				placeholder="{{'commons.lastName' | translate}}" 
				ng-model="user.lastname"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.lastname.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.lastname_is_required' | translate}}
			</span>
		  </div>
		</div>
							
		<div class="form-group row">
		  <label 
		  	for="pesel" 
		  	class="col-lg-3 control-label"
		  	>{{'commons.pesel' | translate}}:<span  class="required">*</span>
		  </label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="pesel"
		    	name="pesel"
				required="required"
				placeholder="PESEL" 
				ng-model="user.pesel"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.pesel.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.pesel_is_required' | translate}}
			</span>
		  </div>
		</div>
							
		<div class="form-group row">
		  <label 
		  		for="email" 
		  		class="col-lg-3 control-label"
		  		>E-mail:<span  class="required">*</span>
		  	</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="email" 
		    	id="email"
		    	name="email"
				required="required"
				placeholder="E-mail" 
				ng-model="user.email"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.email.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.email_is_required' | translate}}
			</span>
			<span 
				ng-show="editUserForm.email.$error.email && editUserForm.submitted" 
				style="color : #f00; float:left;"
				>{{'commons.incorrect_email' | translate}}
			</span>
		  </div>
		</div>
					
		<div class="form-group row">
		  <label 
		  		for="phone" 
		  		class="col-lg-3 control-label"
		  		>{{'commons.phone' | translate}}:<span  class="required">*</span>
		  	</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="phone"
		    	name="phone"
				required="required"
				placeholder="{{'commons.phone' | translate}}" 
				ng-model="user.phone"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.phone.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.phone_is_required' | translate}}
			</span>
		  </div>
		</div>
					
		<div class="form-group row">
		  <label 
		  	for="city" 
		  	class="col-lg-3 control-label"
		  	>{{'commons.city' | translate}}:<span  class="required">*</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="city"
		    	name="city"
				required="required"
				placeholder="miasto" 
				ng-model="user.city"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.city.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.city_is_required' | translate}}
			</span>
		  </div>
		</div>
					
		<div class="form-group row">
		  <label 
		  	for="street" 
		  	class="col-lg-3 control-label"
		  	>{{'commons.street' | translate}}:<span class="required">*</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="street"
		    	name="street"
				required="required"
				placeholder="{{'commons.street' | translate}}" 
				ng-model="user.address"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.street.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.street_is_required' | translate}}
			</span>
		  </div>
		</div>
					
		<div class="form-group row">
		  <label 
		  	for="number" 
		  	class="col-lg-3 control-label"
		  	>{{'commons.number' | translate}}:<span class="required">*</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="number"
		    	name="number"
				required="required"
				placeholder="Numer" 
				ng-model="user.number"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.number.$error.required  && editUserForm.submitted" 
				style="color : #f00; float:left;">{{'commons.number_is_required' | translate}}
			</span>
		  </div>
		</div>
					
		<div class="form-group row">
		  <label 
		  	for="postcode" 
		  	class="col-lg-3 control-label"
		  	>{{'commons.postcode' | translate}}:<span class="required">*</label>
		  <div class="col-lg-8">
		    <input 
		    	class="form-control" 
		    	type="text" 
		    	id="postcode"
		    	name="postcode"
				required="required"
				placeholder="{{'commons.postcode' | translate}}" 
				ng-model="user.postCode"
				ng-pattern="/^(\d{2}-\d{3})$/"
				ng-class="{submitted:editUserForm.submitted}"
			>
			<span 
				ng-show="editUserForm.postcode.$error.required && editUserForm.submitted"
				style="color : #f00; float:left;"
				>{{'commons.postcode_is_required' | translate}}
			</span>
			<span 
				ng-show="editUserForm.postcode.$error.pattern && editUserForm.submitted"
				style="color : #f00; float:left;"
				>{{'commons.please_enter_valid_postcode' | translate}}
			</span>
		  </div>
		</div>
		
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input 
        		type="button" 
        		class="btn btn-primary" 
        		ng-click="editUser(user)"
        		value="{{'commons.save' | translate}}"
        		>
          </div>
        </div>
      </form>
   	</div>	
    </div>
  </div>
</div>
	
	
<style>
	input.submitted.ng-invalid{
  		border:2px solid #f00;
}
</style>
	
	
