<meta meta charset=utf-8>
	<div class="main-header">
		<div class="container">
			<span class="page-title">{{'kindOfPain.add_new_kindOfPain' | translate}}</span>
		</div>
	</div>

	<!-- ///////////////////////////////////////// -->
<div class="container">
	<div class="row">
	<form class="form-horizontal" 
		name="addKindOfPainForm" 
		novalidate>
		
		<fieldset>
			<div class="form-group">
				<div class="col-md-offset-4 col-md-4" ng-show="success && addKindOfPainForm.$pristine">
					<div class="alert alert-success" >
					    <strong> {{'commons.success' | translate}}!</strong> {{'kindOfPain.correct_add_kindOfPain' | translate}}
					</div>
				</div>
			</div>
			
			
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="painNameField">
			  {{'kindOfPain.pain_name' | translate}}:<span style="color:red;">*</span></label>  
			  <div class="col-md-4">
			  <input 
			  	id="painNameField" 
			  	type="text"
			  	ng-class="{submitted:addKindOfPainForm.submitted}"  
			  	name="painNameField" 
			  	placeholder="{{'kindOfPain.pain_name' | translate}}" 
			  	class="form-control" 
			  	required
			  	ng-model="pain.painName">
			  	<span 
    				ng-show="addKindOfPainForm.painNameField.$error.required && addKindOfPainForm.submitted" 
    				style="color : #f00; float:left;"
    				>{{'commons.pain_name_is_required' | translate}}
    			</span>
			  </div>
			</div>
			
			
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="painDescription">
			  	{{'commons.description' | translate}}:
			  </label>
			  <div class="col-md-4">                     
			    <textarea 
			    	name="painDescription"
					class="form-control"
					placeholder="{{'kindOfPain.pain_description' | translate}}" 
					id="painDescription" 
					style="height: 61px; background: #f6f9fc;"
					ng-model="pain.description"
					>
				</textarea>
			  </div>
			</div>
			
			
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="addKindOfPainButton"></label>
			  <div class="col-md-8">
			    <button 
			    	id="addKindOfPainButton" 
			    	name="addKindOfPainButton" 
			    	class="btn btn-primary"
			    	type="button"
			    	ng-click="addKindOfPain(pain)"
			    	>{{'commons.save' | translate}}
			    </button>
			    <button 
			    	type="button" 
			    	id="clearFormButton" 
			    	name="clearFormButton" 
			    	class="btn btn-danger" 
			    	ng-click="clear()">
			    	{{'commons.clear' | translate}}</button>
			  </div>
			</div>
		</fieldset>
	</form>
	</div>
</div>
	
	
<style>
	.overlay { 
		background:transparent; 
		width:100%; 
		height:100%; 
		position:absolute; 
		top:0; 
		left:0; 
	}
	
	input.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	
	textarea.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	
	.selectize-input.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	
	#selectedPatientId.submitted.ng-invalid, input.submitted.ng-invalid{
	  border:2px solid #f00;
		border-radius: 4px;
	}
    .select2 > .select2-choice.ui-select-match {
        height: 29px;
    }

    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
    .select-box {
      background: #fff;
      position: relative;
      z-index: 1;
    }
    .alert-info.positioned {
      margin-top: 1em;
      position: relative;
      z-index: 10000; 
    }
</style>