<meta meta charset=utf-8>
	<div class="main-header">
		<div class="container">
			<span class="page-title">Dodaj pacjenta</span>
		</div>
	</div>
	<div class="container">
		<form class="form-horizontal" name="addPatientForm" novalidate>
			<div class="row">
				<div class="col-md-offset-2 col-md-4">
					<div class="alert alert-success" ng-show="successAddPatient">
						  <strong>Sukces!</strong> Poprawnie dodano pacjenta
					</div>
						<div class="form-group">
							<label for="firstname" >Imię:<span class="required">*</span></label>
							<input
								name="firstname"
								required="required" 
								placeholder="Imię*"
								id="firstname" 
								value=""
								type="text" 
								required
								ng-model="patient.firstname"
								ng-minlength="3" ng-maxlength="10"
								ng-class="{submitted:addPatientForm.submitted}"
							/>
	        				<span 
	        					ng-show="addPatientForm.firstname.$error.required && addPatientForm.submitted" 
	        					style="color : #f00; float:left;"
	        					>Imię jest wymagane
	        				</span>
	        				<span 
	        					ng-show="addPatientForm.firstname.$error.minlength && addPatientForm.submitted" 
	        					style="color : #f00; float:left;"
	        					>Za krótkie imię
	        				</span>
	        				<span 
	        					ng-show="addPatientForm.firstname.$error.maxlength && addPatientForm.submitted" 
	        					style="color : #f00; float:left;"
	        					>Za długie imię
	        				</span>
						</div>
						
						<div class="form-group">
								<label for="lastname" 
								>Nazwisko:<span class="required">*</span></label> 
								<input
									name="lastname"
									required="required"
									placeholder="Nazwisko*" 
									id="lastname" 
									value="" 
									type="text"
									ng-model="patient.lastname"
									ng-class="{submitted:addPatientForm.submitted}"
								/>
								<span 
									ng-show="addPatientForm.lastname.$error.required && addPatientForm.submitted" 
									style="color : #f00; float:left;"
									>Nazwisko jest wymagane
								</span>
						</div>
						
						<div class="form-group">
						  <label for="birthDate">Data urodzenia:</label>  
<!-- 						  <div class="col-md-6"> -->
							  <div class="input-group">
									<span class="input-group-btn" id="spanDate">
							            <button 
							            	type="button" 
							            	class="btn btn-default" 
							            	ng-click="open1()">
							            	<i class="glyphicon glyphicon-calendar"></i>
							            </button>
							          </span>
									<input type="text" 
										class="form-control" 
										ng-change="getDate()" 
										uib-datepicker-popup="{{format}}"
										ng-model="patient.birthDate" 
										is-open="popup1.opened" 
										ng-model-options="{timezone: 'utc'}"
										datepicker-options="dateOptions" 
										ng-required="true" 
										close-text="Close" 
										alt-input-formats="altInputFormats" 
										required
										name="dateField"
										ng-class="{submitted:addVisitForm.submitted}"
									/>
							 </div>
<!-- 						  </div> -->
						</div>
						
						
						<div class="form-group ">
						  <label for="gender">Płeć:</label>
<!-- 						  <div class="col-md-6" >  -->
						  	<div name="gender" ng-init="patient.gender='M'">
							    <label class="radio-inline" for="gender">
							      <input 
							      	type="radio" 
							      	name="gender" 
							      	id="gender1" 
							      	value="M" 
							      	checked="checked"
							      	ng-model="patient.gender">
							      Mężczyzna
							    </label> 
							    <label class="radio-inline" for="gender">
							      <input 
							      	type="radio" 
							      	name="gender" 
							      	id="gender2" 
							      	value="K"
							      	ng-model="patient.gender">
							      Kobieta
							    </label> 
<!-- 						    </div> -->
						  	</div>
						</div>
						
						
						<div class="form-group">
							<label for="pesel">PESEL:</label> 
								<input
									name="pesel"
									placeholder="PESEL" 
									id="pesel" 
									value=""
									type="text"
									ng-model="patient.pesel"
									ng-class="{submitted:addPatientForm.submitted}"
									required
								>
								<span 
									ng-show="addPatientForm.pesel.$error.required  && addPatientForm.submitted" 
									style="color : #f00; float:left;">Pesel jest wymagany
								</span>
						</div>
							
						<div class="form-group" >
							<label for="email" >E-mail:<span class="required">*</span></label> 
								<input
									name="email"
									required="required"
									placeholder="E-mail*" 
									id="email" 
									value="" 
									type="email"
									ng-model="patient.email"
									ng-class="{submitted:addPatientForm.submitted}"
								>
		        				<span 
		        					ng-show="addPatientForm.email.$error.required && addPatientForm.submitted" 
		        					style="color : #f00; float:left;"
		        					>Email jest wymagany
		        				</span>
		        				<span 
		        					ng-show="addPatientForm.email.$error.email && addPatientForm.submitted" 
		        					style="color : #f00; float:left;"
		        					>Nieprawidłowy e-mail
		        				</span>
						</div>
						
				</div>
				<div class="col-md-offset-1 col-md-4">
				
				
					<div class="form-group" >
							<label for="phone">Telefon:</label> 
							<input
								name="phone"
								placeholder="Telefon" 
								id="phone"
								value="" 
								type="text"
								ng-model="patient.phone"
							>
					</div>				
					<div class="form-group">
						<label for="street" >Ulica:</label> 
						<input
							name="street"
							placeholder="Ulica" 
							id="street"
							value="" 
							type="text"
							ng-model="patient.address"
						>
					</div>
					<div class="form-group">
						<label for="number">Numer:</label> 
						<input
							name="number" 
							placeholder="Numer" 
							id="number" 
							type="text"
							ng-model="patient.number"
						>
					</div>
					<div class="form-group" >
						<label for="city" >Miasto:</label> 
						<input
							name="city"
							placeholder="Miejscowość" 
							id="city"
							type="text"
							ng-model="patient.city"
						>
					</div>
					<div class="form-group">
						<label for="postCode " >Kod pocztowy:<span class="required">*</span></label> 
						<input
							name="postCode"
							placeholder="Kod pocztowy" 
							id="postcode"
							value="" type="text"
							ng-model="patient.postCode"
							ng-pattern="/^(\d{2}-\d{3})$/"
							ng-class="{submitted:addPatientForm.submitted}"
							required
						>
									<!-- 	ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" -->
	       				<span 
	       					ng-show="addPatientForm.postCode.$error.required && addPatientForm.submitted"
	       					style="color : #f00; float:left;"
	       					>Kod pocztowy jest wymagany
	       				</span>
	       				<span 
	       					ng-show="addPatientForm.postCode.$error.pattern && addPatientForm.submitted"
	       					style="color : #f00; float:left;"
	       					>Proszę podać prawidłowy polski kod
	       				</span>
					</div>
					<div class="form-group" >
						<label for="description" >Dodatkowe informacje:</label>
						<textarea name="description"
							class="form-control" 
							placeholder="Dodatkowe informacje"
							id="description" 
							style="height: 61px; 
							background: #f6f9fc;"
							ng-model="patient.description">
						</textarea>
						<p class="description">* Możesz tu wpisać dodatkowe informacje o pacjencie</p>
					</div>
				</div>
			</div>
			<div class="row" style="padding-top:15px;">
				<div class="form-group" >
					<div class="text-center">
						<button type="submit" class="btn btn-primary" ng-click="addPatient(patient)">Zapisz</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<a class="btn btn-success" href="#success" data-toggle="modal"><h4><i class="glyphicon glyphicon-eye-open"></i> Success</h4></a>
    <!-- Modal -->
    <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1><i class="glyphicon glyphicon-thumbs-up"></i> Success Modal</h1>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
	
<style>
input.submitted.ng-invalid{
  border:2px solid #f00;
}
</style>
