<meta meta charset=utf-8>
	<div class="main-header">
		<div class="container">
			<span class="page-title">{{'addService.add_new_service' | translate}}</span>
		</div>
	</div>

	<!-- ///////////////////////////////////////// -->
<div class="container">
	<form class="form-horizontal" 
		name="addServiceForm" 
		novalidate>
	<div class="row" ng-show="success">
		<div class="form-group">
		<div class="col-md-offset-4 col-md-4">
			<div class="alert alert-success" >
			    <strong> {{'commons.success' | translate}}</strong> {{'addService.correct_add_service' | translate}}
			</div>
		</div></div>
	</div>
	<div class="row" style="">
		
		<fieldset>
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="serviceNameField">
			  {{'addService.service_name' | translate}}:<span style="color:red;">*</span></label>  
			  <div class="col-md-4">
			  <input id="serviceNameField" 
			  	type="text"
			  	ng-class="{submitted:addServiceForm.submitted}"  
			  	name="serviceNameField" 
			  	placeholder="{{'commons.name' | translate}}" 
			  	class="form-control" 
			  	required
			  	ng-model="service.serviceName">
			  	<span 
    				ng-show="addServiceForm.serviceNameField.$error.required && addServiceForm.submitted" 
    				style="color : #f00; float:left;"
    				>{{'commons.name_is_required' | translate}}
    			</span>
			  </div>
			</div>
			
			<!-- Textarea -->
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="serviceDescription">
			  	{{'commons.description' | translate}}:
			  </label>
			  <div class="col-md-4">                     
			    <textarea 
			    	name="serviceDescription"
					class="form-control"
					placeholder="{{'addService.service_description' | translate}}" 
					id="serviceDescription" 
					style="height: 61px; background: #f6f9fc;"
					ng-model="service.description"
					>
				</textarea>
			  </div>
			</div>
			
			
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="servicePriceField">
			  {{'commons.price' | translate}}:<span style="color:red;">*</span></label>  
			  <div class="col-md-4">
			  
			  <input id="servicePriceField" 
			  	type="text"
			  	ng-class="{submitted:addServiceForm.submitted}"  
			  	name="servicePriceField" 
			  	placeholder="{{'commons.price' | translate}}" 
			  	class="form-control" 
			  	ng-pattern="/^\d+(\.\d{1,2})?$/"
			  	required
			  	ng-model="service.price">
			  	<span 
    				ng-show="addServiceForm.servicePriceField.$error.required && addServiceForm.submitted" 
    				style="color : #f00; float:left;"
    				>{{'commons.price_is_required' | translate}}
    			</span>
    			<span 
   					ng-show="addServiceForm.servicePriceField.$error.pattern && addServiceForm.submitted"
   					style="color : #f00; float:left;"
   					>{{'addService.please_correct_price' | translate}}
   				</span>
			  </div>
			</div>
			
			
			<!-- Button (Double) -->
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="addServiceButton"></label>
			  <div class="col-md-8">
			    <button 
			    	id="addServiceButton" 
			    	name="addServiceButton" 
			    	class="btn btn-primary"
			    	type="button"
			    	ng-click="addService(service)"
			    	>{{'commons.save' | translate}}
			    </button>
			    <button 
			    	type="button" 
			    	id="clearFormButton" 
			    	name="clearFormButton" 
			    	class="btn btn-danger" 
			    	ng-click="clear()">
			    	{{'commons.clear' | translate}}</button>
			  </div>
			</div>
		</fieldset>
	</div>
	</form>
</div>
	
	
<style>
	.overlay { 
		background:transparent; 
		width:100%; 
		height:100%; 
		position:absolute; 
		top:0; 
		left:0; 
	}
	
	input.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	
	textarea.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	
	.selectize-input.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	
	#selectedPatientId.submitted.ng-invalid, input.submitted.ng-invalid{
	  border:2px solid #f00;
		border-radius: 4px;
	}
    .select2 > .select2-choice.ui-select-match {
        height: 29px;
    }

    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
    .select-box {
      background: #fff;
      position: relative;
      z-index: 1;
    }
    .alert-info.positioned {
      margin-top: 1em;
      position: relative;
      z-index: 10000; 
    }
</style>