<meta meta charset=utf-8>
	<div class="main-header">
		<div class="container">
			<span class="page-title">{{'addVisit.add_new_visit' | translate}}</span>
		</div>
	</div>

	<!-- ///////////////////////////////////////// -->
<div class="container">
	<form class="form-horizontal" 
		name="addVisitForm" 
		novalidate>
		<div class="form-group">
			<div class="row" ng-show="success">
				<div class="col-md-offset-4 col-md-4">
					<div class="alert alert-success" >
					    <strong>{{'commons.success' | translate}}</strong> {{'addVisit.correct_add_visit' | translate}}
					</div>
				</div>
			</div>
		</div>
	<div class="row" style="padding-top:15px;">
		
		<fieldset>
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="selectPatientId">
			  	{{'commons.patient' | translate}}:<span style="color:red;">*</span>
			  </label>  
			  <div class="col-md-4">
			  	<ui-select 
					ng-model="ctrl.people.patientId" 
					theme="select2" 
					ng-disabled="disabled" 
					style="width: 100%;" 
					title="Choose a person" 
					on-select="ctrl.onSelectPatient($item, $model)" 
					ng-required="true"
					name="selectPatientId"
					id="selectedPatientId"
					ng-class="{submitted:addVisitForm.submitted}"
				>
    			<ui-select-match 
					placeholder="{{'commons.select_patient' | translate}}" >{{$select.selected.firstname}} {{$select.selected.lastname}}
				</ui-select-match>
    			<ui-select-choices 
					repeat="person in ctrl.people | propsFilter: {firstname: $select.search, lastname: $select.search, age: $select.search}" >
      				<div ng-bind-html="person.firstname + ' ' + person.lastname | highlight: $select.search"></div>
      				<small>
        				email: {{person.email}}
        				age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
      				</small>
    			</ui-select-choices>
				</ui-select>
				<span 
    				ng-show="addVisitForm.selectPatientId.$error.required && addVisitForm.submitted" 
    				style="color : #f00; float:left;"
    				>{{'commons.select_Patient' | translate}}
    			</span>
			  </div>
			</div>
			
			<style>
				.select2-container .select2-choice {
				height: 61px; background: #f6f9fc;font-size: 16px;padding-left: 10px;
				}
				.select2 > .select2-choice.ui-select-match {
				    height: 31px;
				}
			</style>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="datapicker">
			  	{{'commons.date' | translate}}:<span style="color:red;">*</span>
			  </label>  
			  <div class="col-md-4">
			  	 <div class="input-group">
				  	<input type="text" 
						class="form-control" 
						ng-change="getDate()" 
						uib-datepicker-popup="{{format}}"
						ng-model="ctrl.visit.startDate" 
						is-open="popup1.opened" 
						ng-model-options="{timezone: 'utc'}"
						datepicker-options="dateOptions" 
						ng-required="true" 
						close-text="Close" 
						alt-input-formats="altInputFormats" 
						placeholder="{{'commons.select_date' | translate}}"
						required
						name="dateField"
						ng-class="{submitted:addVisitForm.submitted}"
					/>
			          <span class="input-group-btn" id="spanDate">
			            <button 
			            	type="button" 
			            	class="btn btn-default" 
			            	ng-click="open1()">
			            	<i class="glyphicon glyphicon-calendar"></i>
			            </button>
			          </span>
				</div>
				<span 
    				ng-show="addVisitForm.dateField.$error.required && addVisitForm.submitted" 
    				style="color : #f00; float:left;"
    				>{{'commons.select_date' | translate}}
    			</span>
    			<span 
   					ng-show="addVisitForm.dateField.$error.date && addVisitForm.submitted"
   					style="color : #f00; float:left;"
   					>{{'commons.incorrect_date' | translate}}
   				</span>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="hour">
			  	{{'commons.hour' | translate}}:<span style="color:red;">*</span>
			  </label>  
			  <div class="col-md-4">
			  	<select 
					id="hourField" 
					name="hourField" 
					class="form-control" 
					required="required"
					ng-model="visit.hour"
					ng-class="{submitted:addVisitForm.submitted}"
					ng-options="country.name for country in ctrl.countries"
					style="background: #f6f9fc;"
					>
					<option style="display:none" value="">{{'commons.select_hour' | translate}}</option>
				</select>
				<span 
    				ng-show="addVisitForm.hourField.$error.required && addVisitForm.submitted" 
    				style="color : #f00; float:left;"
    				>{{'commons.select_hour' | translate}}
    			</span>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="textinput">{{'addVisit.visit_length' | translate}}:<span style="color:red;">*</span></label>  
			  <div class="col-md-4">
			  <input id="textinput" 
			  	ng-class="{submitted:addVisitForm.submitted}"  
			  	name="lengthField" 
			  	placeholder="{{'addVisit.visit_length' | translate}}" 
			  	class="form-control" 
			  	required
			  	ng-model="visit.length"
			  	type="text">
			  	<span 
    				ng-show="addVisitForm.lengthField.$error.required && addVisitForm.submitted" 
    				style="color : #f00; float:left;"
    				>{{'addVisit.what_visit_length' | translate}}
    			</span>
			  </div>
			</div>
			
			<div class="form-group" style="padding-top:10px;">
               <label class="col-md-offset-2 col-md-2 control-label" for="selectService">
                   {{'commons.services' | translate}}:<span style="color:red;">*</span></label>
               <div class="col-md-4">
               		<div style="padding-bottom:35px;">
		               <select 
			               	id="selectService" 
			               	name="selectService" 
			               	class="form-control" 
			               	required="required"
			               	ng-model="visit.service"
			               	ng-class="{submitted:addVisitForm.submitted}"
			               	ng-options="service.id as service.serviceName + ' (' + service.price + ')' for service in services"
			               	style="background: #f6f9fc; width:90%;float:left;" 
		               >
		               <option style="display:none;" value=""><span style="color:green;">{{'commons.select_service' | translate}}</span></option>
		               </select>
		               
		               <style>

						select.ng-dirty,select.ng-touched {
						  color: black;
						  font-size: 16px;
						}
						select.ng-pristine {
						  color: #989595;
						  padding-left: 5px;
						  font-size: 16px;
						}
						option {
							color: black;
						}
		               </style>
		               
	<!-- 	               <a href=""><span class="glyphicon glyphicon-plus" style="float:right;top:10px;right:10px;"></span></a> -->
						<add-service-directive counter="counter" services-to-select="services"></add-service-directive>
						<span 
		                   	ng-show="addVisitForm.selectService.$error.required && addVisitForm.submitted " 
		                   	style="color : #f00; float: left;"
		                   	>{{'commons.select_service' | translate}}
	              		</span>
	              	</div>
               		<div class="hidden_0"/>
	               
               </div>
           </div>
			
			<!-- Textarea -->
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="description">
			  	{{'addVisit.visit_description' | translate}}: 
			  		</label>
			  <div class="col-md-4">                     
			    <textarea 
			    	name="description"
					class="form-control"
					placeholder="{{'addVisit.visit_description' | translate}}" 
					id="description" 
					style="height: 61px; background: #f6f9fc;font-size: 16px;padding-left: 10px;"
					ng-model="visit.description"
					>
				</textarea>
			  </div>
			</div>
			
			<!-- Textarea -->
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="recommendations">
			  	{{'addVisit.recommendations_after_the_visit' | translate}}: 
			  </label>
			  <div class="col-md-4">                     
			    <textarea 
					id="recommendations"
			    	name="recommendations"
			    	type="text" 
					class="form-control"
					placeholder="{{'addVisit.recommendations_after_the_visit' | translate}}" 
					style="height: 61px; background: #f6f9fc;font-size: 16px;padding-left: 10px;"
					ng-model="visit.recommendation"
					>
				</textarea>
			  </div>
			</div>
			
			<!-- Button (Double) -->
			<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="button1id"></label>
			  <div class="col-md-8">
			    <button 
			    	id="button1id" 
			    	name="button1id" 
			    	class="btn btn-primary"
			    	type="button"
			    	ng-required="true"
			    	ng-click="addVisit(visit)"
			    	>{{'commons.save' |translate}}
			    </button>
			    <button type="button" id="button2id" name="button2id" class="btn btn-danger" ng-click="clear()">
			    	{{'commons.clear' |translate}}
			    </button>
			  </div>
			</div>

		</fieldset>
	</div>
	</form>
</div>
	
	
<style>
	.overlay { background:transparent; width:100%; height:100%; position:absolute; top:0; left:0; }
	
	input.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	
	textarea.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	select.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	
	ui-select.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	
	.selectize-input.submitted.ng-invalid{
	  border:2px solid #f00;
	}
	
	#selectedPatientId.submitted.ng-invalid, input.submitted.ng-invalid{
	  border:2px solid #f00;
		border-radius: 4px;
	}
    .select2 > .select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 29px;
    }

    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
    /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
    .select-box {
      background: #fff;
      position: relative;
      z-index: 1;
    }
    .alert-info.positioned {
      margin-top: 1em;
      position: relative;
      z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
    }
</style>