<meta meta charset=utf-8>
<div class="main-header">
    <div id="" class="container">
        <div class="row vertical-align">
        	<div class="col-md-1">
        		<span class="page-title">{{'index.timetable' | translate}}</span>
            </div>
			<div class="col-md-offset-8 col-md-3">
				<div class="pull-right">
			         <a id="" class="btn btn-primary active" ng-click="addVisit()">{{'calendar.add_a_visit' | translate}}</a>
			         <a id="" class="btn btn-primary active" ng-click="addHoliday()">{{'calendar.set_a_day_off' | translate}}</a>
		         </div>
         	</div>
        </div>
    </div>
</div>
<div class="container">
	<div id="calendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
      <input 
	      	class="timepicker text-center" 
	      	jt-timepicker="" 
	      	time="model.time" 
	      	time-string="model.timeString" 
	      	default-time="model.options.defaultTime" 
	      	time-format="model.options.timeFormat" 
	      	start-time="model.options.startTime" 
	      	min-time="model.options.minTime" 
	      	max-time="model.options.maxTime" 
	      	interval="model.options.interval" 
	      	dynamic="model.options.dynamic" 
	      	scrollbar="model.options.scrollbar" 
	      	dropdown="model.options.dropdown" 
	      >
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<style>
	.ui-datepicker 
	{
	 z-index: 9999 !important; 
	}
</style>