<meta meta charset=utf-8>
<div class="main-header">
    <div id="" class="container">
        <div class="row vertical-align">
        	<div class="col-md-1">
        <span class="page-title">Pacjenci</span>
            </div>
<!--         <span id="searchbar_patients" class="patient-search-wrap"> -->
<!--             <input ng-model="patientModel" value="" class="dynamic-search-field" data-action="flexi_search_patient" data-target="#patient-list" placeholder="Szukaj pacjentów..." type="search"> -->
<!--             <a href="#" class="dynamic-search-reset" style="display: none" ;=""><img src=""></a> -->
<!--         </span> -->
			<div class="col-md-11">
				<div class="pull-right">
         <a id="" class="btn btn-primary active" ng-click="addVisit()">Dodaj wizytę</a>
         <a id="" class="btn btn-primary active" ng-click="addHoliday()">Ustal dzień wolny</a>
         </div>
         	</div>
        </div>
    </div>
</div>
<div class="container">
<button ng-click="myFunction()">dddddddddddd</button>
<!-- 	<div id='calendar'></div> -->
<div id="calendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
</div>

<!-- <div id="myDiv" ng-click="showModal()" style="display:none;"></div> -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
<!--       <input id="basicExample" class="time ui-timepicker-input" autocomplete="off" type="text"> -->
      <input class="timepicker text-center" jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" 
      time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" 
      max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" 
      scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" >
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<style>
	    .ui-datepicker 
{
 z-index: 9999 !important; 
}
</style>