<meta meta charset=utf-8>
<div class="main-header">
    <div id="" class="container">
        <div class="row vertical-align">
        	<div class="col-md-1">
        		<span class="page-title">{{'index.contact' | translate}}</span>
            </div>
			<div class="col-md-11">
         	</div>
         </div>
     </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form name="sendEmailForm" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label for="name">
                                {{'commons.firstname' |translate}}</label>
                            <input 
                            	type="text" 
                            	class="form-control" 
                            	name="name"
                            	id="name" 
                            	placeholder="{{'contact.enter_a_name' |translate}}" 
                            	required
                            	ng-model="sender.name" 
                            	ng-class="{submitted:sendEmailForm.submitted}"
                            />
                            <span 
                            	ng-if="sendEmailForm.name.$error.required  && sendEmailForm.submitted" 
                            	style="color : #f00; float: left;"
                            >{{'commons.firstname_is_required' |translate}}</span>
                        </div>
                        <div class="form-group" style="padding-top:10px;">
                            <label for="email">
                                E-mail</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input 
                                	type="email" 
                                	class="form-control" 
                                	id="email" 
                                	name="email"
                                	placeholder="{{'enter_a_email' |translate}}"
                                	required="required" 
                                	ng-model="sender.email"
                                	ng-class="{submitted:sendEmailForm.submitted}"
                                />
                           </div>
                                <span 
                                	ng-show="sendEmailForm.email.$error.required && sendEmailForm.submitted" 
                                	style="color : #f00; float: left;"
                                	>{{'commons.email_is_required' |translate}}
                                </span>
                                <span 
		        					ng-show="sendEmailForm.email.$error.email && sendEmailForm.submitted" 
		        					style="color : #f00; float:left;"
		        					>{{'commons.incorrect_email' |translate}}
		        				</span>
                        </div>
                        <div class="form-group" style="padding-top:10px;">
                            <label for="subject">
                                {{'contact.subject' |translate}}</label>
                            <select 
                            	id="subject" 
                            	name="subject" 
                            	class="form-control" 
                            	required="required"
                            	ng-model="sender.subject"
                            	ng-class="{submitted:sendEmailForm.submitted}"
                            	ng-init="sender.subject = 'service'"
                            >
                                <option value="service">{{'contact.general' |translate}}</option>
                                <option value="suggestions">{{'contact.suggestion' |translate}}</option>
                                <option value="product">{{'contact.support' |translate}}</option>
                            </select>
                            <span 
                                	ng-show="sendEmailForm.subject.$error.required && sendEmailForm.submitted " 
                                	style="color : #f00; float: left;"
                                >{{'contact.select_subject' |translate}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                {{'contact.message' |translate}}</label>
                            <textarea 
                            	name="message" 
                            	id="message" 
                            	class="form-control" 
                            	rows="9" 
                            	cols="25" 
                            	required="required"
                                placeholder="{{'contact.content_message' |translate}}"
                                ng-model="sender.message"
                                ng-class="{submitted:sendEmailForm.submitted}">
                               </textarea>
                            <span 
                                ng-show="sendEmailForm.message.$error.required && sendEmailForm.submitted" 
                                style="color : #f00; float: left;"
                            >{{'contact.message_content_is_required' | translate}}</span>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top:13px;">
                        <button 
                        	type="button" 
                        	class="btn btn-primary pull-right" 
                        	id="btnContactUs"
                        	ng-click="sendMessage(sender)"
                        >{{'contact.send_a_message' | translate}}</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> {{'contact.our_office' | translate}}</legend>
            <address>
                <strong>{{'commons.physiotherapy_room' | translate}}</strong><br>
                {{'commons.street' | translate}} Sienkiewicza 12<br>
                Lublin 20-855<br>
                (81)741-33-37
            </address>
            <address>
                <strong>{{'commons.our_email' | translate}}</strong><br>
                <a href="mailto:#">gabinetFizjoterapi@gmail.com</a>
            </address>
            </form>
        </div>
    </div>
</div>

	<style>
input.submitted.ng-invalid,textarea.submitted.ng-invalid,select.submitted.ng-invalid{
  border:2px solid #f00;
}
	</style>