<meta meta charset=utf-8>
<div id="container"  >
	<div id="content">
		<div class="top">
			<div class="row" ">
				<div class="col-md-offset-4 col-md-4" ">
					<form id="loginForm"	
						name="loginForm"
						method="post"
						ng-submit="login($event)"
						novalidate
						>
						
						<div class="row">
							<h1>
								<img src="images/CPA-white-logo-mark.png" alt="Wirtualny gabinet">
							</h1>
							<h2>{{'login.welcome_login_page' | translate}}</h2>
							<p>
								{{'login.access_to_virtual_physiotherapy' | translate}}
								<br><br> 
								<a ui-sref="register">{{'login.create_new_account' | translate}}</a>
							</p>
						</div>
						<div class="alert alert-danger" ng-show="error" style="text-align:center;">
						  <strong>{{'login.error' | translate}}!</strong> <span>{{'login.incorrect_login_or_password' | translate}}. <br>{{'login.try_again' | translate}}.</span>
						</div>
						
						<div class="form-group" >
							<label for="username" class="input">Login</label> 
							<input
								id="username" 
								name="username" 
								class="required" 
								tabindex="1"
								value="" 
								size="25" 
								autocomplete="off" 
								type="text"
								ng-model="data.credentials.username"
								required
								ng-class="{submitted:loginForm.submitted}"
							/>
								
							<span 
								ng-show="loginForm.username.$error.required && loginForm.submitted" 
								style="color : #f00; float:left;"
								>{{'login.login_is_required' | translate}}
							</span>
						</div>
						
						<div class="form-group" style="padding-top:10px;">
							<label for="password" class="input">{{'login.password' | translate}}</label> 
							<input
								id="password" 
								name="password"
								class="required" 
								size="25" 
								autocomplete="off"
								type="password"
								ng-model="data.credentials.password"
								required
								ng-class="{submitted:loginForm.submitted}"
							/> 
							<span 
								ng-show="loginForm.password.$error.required && loginForm.submitted" 
								style="color : #f00; float:left;"
								>{{'login.password_is_required' | translate}}
							</span>
							<br><br><br>	
						</div>
						<div class="form-group">
							<input 
								class="btn-submit" 
								name="submit"
								value="Zaloguj" 
								type="submit">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- END #content -->
</div>
<style>

input.submitted.ng-invalid
{
  border:2px solid #f00;
}

.top {
	background: #00b6f2;
	padding: 80px 25px;
}

.box {
	width: 100%;
	max-height: 100%;
	max-width: 480px;
	margin: 0 auto;
}

:first-child {
	margin-top: 0;
}

form {
	position: relative;
}

h1 {
	font-size: 24px;
	text-align: center;
}

h2 {
	font-size: 30px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}

p {
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	font-weight: 100;
	margin-top: 0;
}

p a, p a:hover, p a:focus {
	font-weight: 300;
	color: #fff;
	text-decoration: underline;
}

label.input {
	/* display: block;
    background: #f6f9fc; 
    border: 1px solid #ccc; */
/* 	padding: 4px 6px; */
	font-size: 13px;
	border-bottom: none;
	color: #404040;
	margin-bottom: 0;
	cursor: text;
}

input[type="text"], input[type="password"], input[type="email"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 0;
	padding: 8px;
	padding-top: 4px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-top: none;
	background: #f6f9fc;
	width: 100%;
	color: #404040;
}

.check input[type="checkbox"] {
	margin: 0;
	position: absolute;
	left: 3%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.row:last-of-type {
	margin-bottom: 0;
}

input[type="submit"] {
	background: #0078ad;
	text-align: center;
	border: none;
	color: #fff;
	padding: 12px 15px;
	width: 100%;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: 400;
	border-bottom: 1px solid #005278;
}

section {
	padding: 0px 0;
}

form {
	margin-bottom: 15px;
}

label {
	padding-left: 6%;
}
</style>