<meta meta charset=utf-8>
<main id="main-content">
		<div class="banner banner_front">
			<div class="centered-content">
				<div class="row">
					<div class="col_md-5">
						<p>{{'main.use_online_tools' | translate}}</p>
						<div ng-if="showCurrentLanguage() == 'en'">
							<h1>{{'main.virtual' | translate}}
							<b>{{'main.physiotherapy' | translate}}</b>
							{{'main.room' | translate}}</h1>
						</div>
						<div ng-if="showCurrentLanguage() == 'pl'">
							<h1>{{'main.virtual_office' | translate}}<strong> {{'main.physiotherapy' | translate}}</strong></h1>
						</div>
						<p>{{'main.facilitate_and_speed' | translate}}</p>
					</div>
				</div>
			</div>
		</div>
		<section class="page-content">
			<div class="centered-content">
				<div class="row">
					<div class="col_md-9">
					</div>
				</div>	
			</div>
		</section>
	</main>
