<meta meta charset=utf-8>
<div class="main-header">
    <div id="" class="container">
        <div class="row vertical-align">
        	<div class="col-md-4">
		        <span class="page-title">{{patient.firstname}} {{patient.lastname}}</span>
		        <a href="" class="patient-edit icon" >
		        	<img src="pics/edytuj.svg" style="height: 20px;">
		        </a>
		        <a href="" class="" >
		        	<img src="pics/usun.svg" style="height: 20px;">
		        </a>
            </div>
            <div class="col-md-4">
            	<span class="">
						{{'patient.last_visit' | translate}}: {{patient.lastVisit | date:'dd/MMM/yy, HH:mm' }}
				</span> 
            </div>
			<div class="col-md-4">
				<div class="pull-right">
					 <button  class="btn btn-primary active" ng-click="goToVisit()"
					>{{'patient.see_visit' | translate}}</button>
					<a
					class="btn btn-primary active"
					href="https://flexiforum.pl/dodaj-nowa-wizyte/?pt=1066">
						{{'patient.add_reservation' | translate}}
					</a>
         		</div>
         	</div>
        </div>
    </div>
</div>

	
<title>User profile form requirement</title>
<style>
/* body { */
/*     padding-top: 70px; */
/* } */
.othertop{
margin-top:10px;
}
</style>



<div class="container">
	<div class="row">
		<div class="col-md-6 ">
			<div class="alert alert-success" ng-show="successEditPatient">
				  <strong>{{'commons.success' | translate}}!</strong>
				  {{'patient.correct_patient_data_corrected' | translate}} 
			</div>
			<form 
				name="editPatientForm"
				class="form-horizontal" 
				novalidate>
				<fieldset>
				<!-- Form Name -->
					<legend>{{'patient.patient_profile' | translate}} </legend>
					
					<!-- Text input-->
					<div class="form-group">
						  <label class="col-md-4 control-label" for="firstName">{{'commons.firstname' | translate}}:</label>  
						  <div class="col-md-6">
							 <div class="input-group">
							       <div class="input-group-addon" >
							        <i class="fa fa-user">
							        </i>
							       </div>
							       <input 
							       	
							       	id="firstName" 
							       	name="firstName" 
							       	type="text" 
							       	placeholder="{{'commons.firstname' | translate}}" 
							       	class="form-control input-md"
							       	ng-model="patient.firstname"
							       	required
							       	ng-class="{submitted:editPatientForm.submitted}"
							       >
<!-- 							       <div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 								       <span > -->
<!-- 								       		{{patient.firstname}} -->
<!-- 								       </span> -->
<!-- 							       </div> -->
							 </div>
							 <div >
						       <span 
									ng-show="editPatientForm.firstName.$error.required  && editPatientForm.submitted" 
									style="color : #f00; float:left;"
									>{{'commons.firstname_is_required' | translate}} 
								</span>
					      	 </div>
						  </div>
					</div>
					
					<div class="form-group">
					  <label class="col-md-4 control-label" for="lastName">{{'commons.lastName' | translate}}:</label>  
					  <div class="col-md-6">
							 <div class="input-group">
							       <div class="input-group-addon" >
								        <i class="fa fa-user"></i>
							       </div>
							       <input 
							       		
							       		id="lastName" 
							       		name="lastName" 
							       		type="text" 
							       		placeholder="{{'commons.lastName' | translate}}" 
							       		class="form-control input-md"
							       		ng-model="patient.lastname"
							       		required
							       		ng-class="{submitted:editPatientForm.submitted}"
							       	>
							       	 
<!-- 							       	<div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 								       <span > -->
<!-- 								       		{{patient.lastname}} -->
<!-- 								       </span> -->
<!-- 							       </div> -->
					      	</div>
					      	<div>
						       <span 
									ng-show="editPatientForm.lastName.$error.required  && editPatientForm.submitted" 
									style="color : #f00; float:left;"
									>{{'commons.lastname_is_required' | translate}} 
								</span>
						     </div>
					  </div>
					</div>
					
					<!-- File Button --> 
					<!-- <div class="form-group"> -->
					<!--   <label class="col-md-4 control-label" for="Upload photo">Upload photo</label> -->
					<!--   <div class="col-md-4"> -->
					<!--     <input id="Upload photo" name="Upload photo" class="input-file" type="file"> -->
					<!--   </div> -->
					<!-- </div> -->
					
					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="birthDate">{{'commons.date_of_birth' | translate}}:</label>  
					  <div class="col-md-6">
						  <div class="input-group">
								<span class="input-group-btn" id="spanDate" >
						            <button 
						            	type="button" 
						            	class="btn btn-default" 
						            	ng-click="open1()"
						            	style="background-color: #eee;">
						            	<i class="glyphicon glyphicon-calendar"></i>
						            </button>
						        </span>
								<input type="text" 
									class="form-control" 
									ng-change="getDate()" 
									uib-datepicker-popup="{{format}}"
									ng-model="patient.birthDate" 
									is-open="popup1.opened" 
									ng-model-options="{timezone: 'utc'}"
									datepicker-options="dateOptions" 
									ng-required="true" 
									close-text="Close" 
									alt-input-formats="altInputFormats" 
									required
									name="dateField"
									
									ng-class="{submitted:editPatientForm.submitted}"
								/>
<!-- 								<div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 							       <span> -->
<!-- 							       		{{patient.birthDate | date:'dd/MM/yyyy' }} -->
<!-- 							       </span> -->
<!-- 							    </div> -->
						 </div>
						 <div >
					       <span 
								ng-show="editPatientForm.dateField.$error.required  && editPatientForm.submitted" 
								style="color : #f00; float:left;"
								>{{'commons.date_of_birth_required' | translate}}
							</span>
							<span 
		       					ng-show="editPatientForm.dateField.$error.date && editPatientForm.submitted"
		       					style="color : #f00; float:left;"
		       					>Proszę podać prawidłową datę urodzenia
		       				</span>
					     </div>
					  </div>
					</div>
					
					<!-- Multiple Radios (inline) -->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="gender">{{'commons.gender' | translate}}:</label>
					  <div class="col-md-6" > 
					    <div  name="gender" ng-init="patient.gender=patient.gender">
						    <label class="radio-inline" for="gender">
						      <input 
						      	type="radio" 
						      	name="gender" 
						      	id="gender1" 
						      	value="m" 
						      	checked="checked"
						      	ng-model="patient.gender">
						      {{'commons.man' | translate}}
						    </label> 
						    <label class="radio-inline" for="gender">
						      <input 
						      	type="radio" 
						      	name="gender" 
						      	id="gender2" 
						      	value="k"
						      	ng-model="patient.gender">
						      {{'commons.woman' | translate}}
						    </label> 
					  	</div>
<!-- 					    <div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 					       <span> -->
<!-- 					       		{{patient.gender}} -->
<!-- 					       </span> -->
<!-- 					    </div> -->
					  </div>
					</div>
					
					<div class="form-group">
					  <label class="col-md-4 control-label col-xs-12" for="adres">{{'commons.address' | translate}}:</label>  
					  <div class="col-md-4  col-xs-4">
					  <input 
					  		id="adres" 
					  		name="adres" 
					  		type="text" 
					  		placeholder="{{'commons.city' | translate}}" 
					  		class="form-control input-md "
					  		ng-model="patient.city"
					       	required
					       	
					       	>
					  </div>
<!-- 						<div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 					       <span style="padding-left: 15px;"> -->
<!-- 					       		{{patient.city}}, {{patient.address}} {{patient.number}} -->
<!-- 					       </span> -->
<!-- 					    </div> -->
					 
					</div>
					<div class="row" >
						  <label class="col-md-4 control-label col-xs-12" for="street"></label>  
						  <div class="col-md-4 col-xs-4">
						  <input 
						  	id="street" 
						  	name="street" 
						  	type="text" 
						  	placeholder="{{'commons.street' | translate}}" 
						  	class="form-control input-md "
						  	ng-model="patient.address"
					       	required
					       	
						  	>
<!-- 						  <div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 					       <span> -->
<!-- 					       		{{patient.address}} -->
<!-- 					       </span> -->
<!-- 					    </div> -->
						  </div>
						   	<div class=" col-md-2 col-xs-4">
							  <input 
							  		id="number" 
							  		name="number" 
							  		type="text" 
							  		placeholder="{{'commons.number' | translate}}" 
							  		class="form-control input-md"
							  		ng-model="patient.number"
							       	
							   >
<!-- 							    <div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 							       <span> -->
<!-- 							       		{{patient.number}} -->
<!-- 							       </span> -->
<!-- 							    </div> -->
					  		</div>
					</div>
					
					
					<!-- Text input-->
					<div class="form-group" style="padding-top: 15px;">
					  <label class="col-md-4 control-label" for="phone">{{'commons.phone' | translate}}</label>  
					  <div class="col-md-6">
						  <div class="input-group" >
						       <div class="input-group-addon">
						     		<i class="fa fa-phone"></i>
						       </div>
						    <input 
						    	id="phone" 
						    	name="phone" 
						    	type="text" 
						    	placeholder="{{'commons.phone' | translate}}" 
						    	class="form-control input-md"
						    	ng-model="patient.phone"
						    	
						    	ng-class="{submitted:editPatientForm.submitted}"
						    	required
						    >
<!-- 					    	<div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 						       <span> -->
<!-- 						       		{{patient.phone}} -->
<!-- 						       </span> -->
<!-- 						    </div> -->
						  </div>
						  <div >
					       <span 
								ng-show="editPatientForm.phone.$error.required  && editPatientForm.submitted" 
								style="color : #f00; float:left;"
								>{{'commons.phone_is_required' | translate}}
							</span>
					     </div>
					  </div>
					</div>
					
					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="email">E-mail:</label>  
					  <div class="col-md-6">
						  <div class="input-group">
						       <div class="input-group-addon" >
						     		<i class="fa fa-envelope-o"></i>
						       </div>
							    <input 
							    	id="email" 
							    	name="email" 
							    	type="email" 
							    	placeholder="E-mail" 
							    	class="form-control input-md"
							    	ng-model="patient.email"
							       	required
							       	
							       	ng-class="{submitted:editPatientForm.submitted}"
							    >
<!-- 							    <div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 							       <span> -->
<!-- 							       		{{patient.email}} -->
<!-- 							       </span> -->
<!-- 							    </div>	 -->
						  </div>
						  <div>
					       <span 
								ng-show="editPatientForm.email.$error.required  && editPatientForm.submitted" 
								style="color : #f00; float:left;"
								>{{'commons.email_is_required' | translate}}
							</span>
							<span 
	        					ng-show="editPatientForm.email.$error.email && editPatientForm.submitted" 
	        					style="color : #f00; float:left;"
	        					>{{'commons.incorrect_email' | translate}}
	        				</span>
					     </div>
					  </div>
					</div>
					
					
					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="pesel">{{'commons.pesel' | translate}}:</label>  
					  <div class="col-md-6">
						  <div class="input-group">
						       <div class="input-group-addon">
						     		<i class="fa fa-sticky-note-o"></i>
						       </div>
						   <input 
						   		id="pesel" 
						   		name="pesel" 
						   		type="text" 
						   		placeholder="{{'commons.pesel' | translate}}" 
						   		class="form-control input-md"
						   		ng-model="patient.pesel"
						       	required
						       	
						       	ng-class="{submitted:editPatientForm.submitted}"
						   		>
<!-- 					   		<div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 						       <span> -->
<!-- 						       		{{patient.pesel}} -->
<!-- 						       </span> -->
<!-- 						    </div> -->
						 </div>
						 <div >
					       <span 
								ng-show="editPatientForm.pesel.$error.required  && editPatientForm.submitted" 
								style="color : #f00; float:left;"
								>{{'commons.pesel_is_required' | translate}}
							</span>
					     </div>
					  </div>
					</div>
					
					<div class="form-group">
					  <label class="col-md-4 control-label" for="postCode">{{'commons.postcode' | translate}}:</label>  
					  <div class="col-md-6">
						  <div class="input-group">
						       <div class="input-group-addon" >
						     		<i class="fa fa-sticky-note-o"></i>
						       </div>
							   <input 
							   		id="postCode" 
							   		name="postCode" 
							   		type="text" 
							   		placeholder="{{'commons.postcode' | translate}}" 
							   		class="form-control input-md"
							   		ng-model="patient.postCode"
							       	required
							       
							       	ng-pattern="/^(\d{2}-\d{3})$/"
							       	ng-class="{submitted:editPatientForm.submitted}"
							   	>
<!-- 						   		<div style="padding-top: 7px; font-size: 16px;" ng-show="!editMode"> -->
<!-- 							       <span> -->
<!-- 							       		{{patient.postCode}} -->
<!-- 							       </span> -->
<!-- 							    </div> -->
						  </div>
						  <div >
					       <span 
								ng-show="editPatientForm.postCode.$error.required  && editPatientForm.submitted" 
								style="color : #f00; float:left;"
								>{{'commons.postcode_is_required' | translate}}
							</span>
							<span 
		       					ng-show="editPatientForm.postCode.$error.pattern && editPatientForm.submitted"
		       					style="color : #f00; float:left;"
		       					>{{'commons.please_enter_valid_postcode' | translate}}
		       				</span>
					     </div>
					  </div>
					</div>
					
					
					
					
					<!-- Textarea -->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="description">{{'patient.patient_description' | translate}}:</label>
					  <div class="col-md-6">                     
					    <textarea 
					    	class="form-control" 
					    	rows="10"  
					    	id="description" 
					    	name="description"
					    	ng-model="patient.description"
					    	style="background-color:#f6f9fc;"
					    	
					    	>{{'commons.description' | translate}}
					    </textarea>
<!-- 					    <div style="padding-top: 7px; font-size: 16px; word-wrap: break-word;" ng-show="!editMode"> -->
<!-- 					       <span> -->
<!-- 					       		{{patient.description}} -->
<!-- 					       </span> -->
<!-- 					    </div> -->
					  </div>
					</div>
					
					<div class="form-group">
					  <label class="col-md-4 control-label" ></label>  
					  <div class="col-md-6">
					  <button 
					  	type="button" 
					  	class="btn btn-success" 
					  	
					  	ng-click="savePatient(patient)">
<!-- 					  	<span class="glyphicon glyphicon-thumbs-up"/>  -->
					  	{{'commons.save' | translate}}
					  </button>
<!-- 					  <a href="" class="btn btn-danger"  ng-click="editModeFunction(false)"> -->
<!-- 					  <span class="glyphicon glyphicon-remove-sign"></span> {{'commons.cancel' | translate}}</a> -->
					    
					  </div>
					</div>
				
				</fieldset>
			</form>
		</div>
<style>
	input.submitted.ng-invalid{
	  border:2px solid #f00;
	}
</style>		
	
<div class="col-md-6 hidden-xs">
	<div class="row">
		<img src="pics/avatar.jpg" class="img-responsive img-thumbnail ">
	</div>
		<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<div class="row" style="padding-top:7px; padding-bottom:7px">	
		 <a class="btn btn-primary active" ng-click="showModal()" >{{'patient.add_an_interview' | translate}}</a> 
	</div>

	<div class="row">
		<div class="col-md-8 col-sm-8 col-xs-8 " style="padding-left:0px;">
        
            <!-- Begin fluid width widget -->
            <div class="panel panel-info" style="border: 1px solid #ccc;">
                <div class="panel-heading" style="background: #f4f4f4; border-bottom: 1px solid #ccc;">
                    <h3 class="panel-title ">
	      				<span class="text-right pull-right" >ffff</span>
                        <span class="glyphicon glyphicon-list-alt"></span> {{'patient.interviews' | translate}}
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
	                    <li class="media" ng-repeat="interview in interviews" style="overflow: inherit;"> 
	                      	<add-New-Interview-Directive interview-atrr="interview"></add-New-Interview-Directive>
	                	</li>
                            
                    </ul>
<!--                     <a href="#" class="btn btn-default btn-block">More Blog Posts »</a> -->
                </div>
            </div>
            <!-- End fluid width widget -->
            
        </div>
	</div>


		
<!--   <div class="row"> -->
<!--     <div class="col-sm-11" id="logout"> -->
<!--         <div class="page-header"> -->
<!--             <h3 class="reviews">{{'patient.interviews' | translate}}</h3> -->
<!--         </div> -->
<!--         <div class="comment-tabs"> -->
<!--             <div class="tab-content"> -->
<!--                 <div class="tab-pane active" id="comments-logout">                 -->
<!--                     <ul class="media-list"> -->
<!-- <!--                       <li class="media" ng-repeat="interview in interviews"> --> 
<!-- <!--                       	<add-New-Interview-Directive interview-atrr="interview"></add-New-Interview-Directive> -->
<!-- <!--                       </li>   --> 
<!--                       <li class="media"> -->
<!--                             <div class="media-body"> -->
<!--                                 <h4 class="media-heading"> -->
<!--                                                 <a href="#" class="text-info"> -->
<!--                                                     Ultricies Luctus -->
<!--                                                 </a> -->
<!--                                             </h4> -->
<!--                                 <p class="margin-top-10 margin-bottom-20"> -->
<!--                                     Ut sit amet tincidunt risus. Aenean quis tempus tortor. Pellentesque commodo malesuada augue... -->
<!--                                 </p> -->
<!--                             </div> -->
<!--                         </li>         -->
<!--                     </ul>  -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!-- 	</div> -->
<!--   </div> -->
  
  
  
  
  </div>
	</div>
</div>
	

<style>
/*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/

#login { display: none; }
.login,
.logout { 
    position: absolute; 
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('');    
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;    
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;    
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }
</style>