<meta meta charset=utf-8>
	<section class="page-content">
		<div class="centered-content widget_content">
			<div class="row">
				<div class="col_md-3 sidebar_left">
					<div class="key-topics sidebar_menu"></div>
				</div>
				<div class="col-md-6">
					<div class="tabs"></div>
					<form method="post" 
					name="registerForm"
					id="registerForm"
					novalidate>
						<h1>Utwórz nowe konto</h1>
						<p>Aby korzystać z aplikacji należy rozpocząć od utworzenia
							konta logowania.</p>
						<p>
							<span class="required">* Oznaczenie wymaganych pól</span>
						</p>
						
						<div class="alert alert-success" ng-show="successAddPhys">
							  <strong>Sukces!</strong> Utworzono nowego użytkownika
						</div>
						
						<div class="form-group">
							<label for="name">
							Imię<span class="required">*</span>
							</label> 
							<input 
								id="name" 
								name="name"
								value="" type="text" 
								ng-model="user.firstName"
								ng-class="{submitted:registerForm.submitted}"
								required
							>
							<span 
								ng-show="registerForm.name.$error.required  && registerForm.submitted" 
								style="color : #f00; float:left;"
								>Imię jest wymagane
							</span>
						</div>
						
						<div class="form-group" style="padding-top:15px;">
							<label for="field_family_name">Nazwisko<spanclass="required">*</span>
							</label>
							<input 
							required 
							id="field_family_name" 
							name="lastName"
							type="text" 
							ng-model="user.lastName"
							ng-class="{submitted:registerForm.submitted}"
							>
							<span 
								ng-show="registerForm.lastName.$error.required && registerForm.submitted" 
								style="color : #f00; float:left;">Nazwisko jest wymagane</span>
						</div>
						
						
						<div class="form-group" style="padding-top:15px;">
							<label for="field_address">Email<span class="required">*</span>
							</label>
							<input 
								required 
								id="field_address" 
								name="email" 
								type="email" 
								ng-model="user.email"
								ng-class="{submitted:registerForm.submitted}"
							>
							<span 
								ng-show="registerForm.email.$error.required && registerForm.submitted" 
								style="color : #f00; float:left;">Email jest wymagany
							</span>
							<span 
	        					ng-show="registerForm.email.$error.email && registerForm.submitted" 
	        					style="color : #f00; float:left;"
	        					>Nieprawidłowy adres e-mail
	        				</span>
						</div>
						
						
						<div class="form-group" style="padding-top:15px;">
							<label for="field_given_name">login<span class="required">*</span>
							</label> 
							<input required="" 
								id="field_given_name" 
								name="username"
								type="text" 
								ng-model="user.username"
								ng-class="{submitted:registerForm.submitted}"
								username-available-directive
							>	
							<span 
								ng-if="registerForm.username.$error.required && registerForm.submitted" 
								style="color : #f00; float:left;">
								Login jest wymagany</span>
							<span 
								ng-if="registerForm.$error.usernameExists && registerForm.submitted" 
								style="color : #f00; float:left;">
								Nazwa usera została już zarezerwowana</span>
						</div>
						
						
						<div class="form-group" style="padding-top:15px;">
							<label for="field_password">
								Hasło<span class="required">*</span>
							</label>
							<input 
								required 
								id="field_password" 
								name="password" 
								value=""
								type="password" 
								ng-model="user.password"
								ng-class="{submitted:registerForm.submitted}"
							>
							<span 
								ng-show="registerForm.password.$error.required && registerForm.submitted" 
								style="color : #f00; float:left;"
								>Hasło jest wymagane
							</span>
						</div>
						
						<div class="form-group" style="padding-top:15px;">
							<label for="passwordConfirm">Potwierdź hasło<span class="required">*</span>
							</label>
							<input 
								required 
								id="passwordConfirm"
								name="passwordConfirm" 
								value="" 
								type="password" 
								ng-model="passwordConfirm"
								ng-class="{submitted:registerForm.submitted}"
								required data-password-verify="user.password"
							/>
							<span 
								ng-show="registerForm.passwordConfirm.$error.required && registerForm.submitted" 
								 style="color : #f00; float:left;"
								 >Potwierdzenie hasła jest wymagane
							</span>
							 <span 
							 	ng-show="registerForm.passwordConfirm.$error.passwordVerify && registerForm.submitted"
							 	style="color : #f00; float:left;"
							 	>Hasłą nie są identyczne
							 </span>
						</div>
						
						<div class="form-group" style="padding-top:15px;">
							<input value="Stwórz" type="submit" ng-click="createUser(user)"> 
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<style>
input.submitted.ng-invalid{
  border:2px solid #f00;
}
	</style>
