<meta meta charset=utf-8>
	<section class="page-content">
		<div class="centered-content widget_content">
			<div class="row">
				<div class="col_md-3 sidebar_left">
					<div class="key-topics sidebar_menu"></div>
				</div>
				<div class="col-md-6">
					<div class="tabs"></div>
					<form method="post" 
					name="registerForm"
					id="registerForm"
					novalidate>
						<h1>{{'login.create_new_account' | translate}}</h1>
						<p>{{'registration.use_application' | translate}}</p>
						<p>
							<span class="required">* {{'registration.marking_required_fields' | translate}}</span>
						</p>
						
						<div class="alert alert-success" ng-show="successAddPhys">
							  <strong>{{'commons.success' | translate}}!</strong> {{'registration.create_new_user' | translate}}
						</div>
						
						<div class="form-group">
							<label for="name">
							{{'commons.firstname' | translate}}<span class="required">*</span>
							</label> 
							<input 
								id="name" 
								name="name"
								type="text" 
								ng-model="user.firstName"
								ng-class="{submitted:registerForm.submitted}"
								required
							>
							<span 
								ng-show="registerForm.name.$error.required  && registerForm.submitted" 
								style="color : #f00; float:left;"
								>{{'commons.firstname_is_required' | translate}}
							</span>
						</div>
						
						<div class="form-group" style="padding-top:15px;">
							<label for="field_family_name">{{'commons.lastName' | translate}}<span class="required">*</span>
							</label>
							<input 
							required 
							id="field_family_name" 
							name="lastName"
							type="text" 
							ng-model="user.lastName"
							ng-class="{submitted:registerForm.submitted}"
							>
							<span 
								ng-show="registerForm.lastName.$error.required && registerForm.submitted" 
								style="color : #f00; float:left;">{{'commons.lastname_is_required' | translate}}</span>
						</div>
						
						
						<div class="form-group" style="padding-top:15px;">
							<label for="field_address">E-mail<span class="required">*</span>
							</label>
							<input 
								required 
								id="field_address" 
								name="email" 
								type="email" 
								ng-model="user.email"
								ng-class="{submitted:registerForm.submitted}"
							>
							<span 
								ng-show="registerForm.email.$error.required && registerForm.submitted" 
								style="color : #f00; float:left;">{{'commons.email_is_required' | translate}}
							</span>
							<span 
	        					ng-show="registerForm.email.$error.email && registerForm.submitted" 
	        					style="color : #f00; float:left;"
	        					>{{'commons.incorrect_email' | translate}}
	        				</span>
						</div>
						
						<div class="form-group" style="padding-top:15px;">
							<label for="field_given_name">{{'commons.login' | translate}}<span class="required">*</span>
							</label> 
							<input required="" 
								id="field_given_name" 
								name="username"
								type="text" 
								ng-model="user.username"
								ng-class="{submitted:registerForm.submitted}"
								username-available-directive
							>	
							<span 
								ng-if="registerForm.username.$error.required && registerForm.submitted" 
								style="color : #f00; float:left;">
								{{'login.login_is_required' | translate}}</span>
							<span 
								ng-if="registerForm.$error.usernameExists && registerForm.submitted" 
								style="color : #f00; float:left;">
								{{'registration.username_already_reserved' | translate}}</span>
						</div>
						
						
						<div class="form-group" style="padding-top:15px;">
							<label for="field_password">
								{{'login.password' | translate}}<span class="required">*</span>
							</label>
							<input 
								required 
								id="field_password" 
								name="password" 
								value=""
								type="password" 
								ng-model="user.password"
								ng-class="{submitted:registerForm.submitted}"
							>
							<span 
								ng-show="registerForm.password.$error.required && registerForm.submitted" 
								style="color : #f00; float:left;"
								>{{'login.password_is_required' | translate}}
							</span>
						</div>
						
						<div class="form-group" style="padding-top:15px;">
							<label for="passwordConfirm">{{'registration.confirm_your_password' | translate}}<span class="required">*</span>
							</label>
							<input 
								required 
								id="passwordConfirm"
								name="passwordConfirm" 
								value="" 
								type="password" 
								ng-model="passwordConfirm"
								ng-class="{submitted:registerForm.submitted}"
								required data-password-verify="user.password"
							/>
							<span 
								ng-show="registerForm.passwordConfirm.$error.required && registerForm.submitted" 
								 style="color : #f00; float:left;"
								 >{{'registration.password_confirmation_required' | translate}}
							</span>
							 <span 
							 	ng-show="registerForm.passwordConfirm.$error.passwordVerify && registerForm.submitted"
							 	style="color : #f00; float:left;"
							 	>{{'registration.passwords_not_identical' | translate}}
							 </span>
						</div>
						
						<div class="form-group" style="padding-top:15px;">
							<input value="{{'registration.create' | translate}}" type="submit" ng-click="createUser(user)"> 
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<style>
input.submitted.ng-invalid{
  border:2px solid #f00;
}
	</style>
