<meta meta charset=utf-8>

<script type="text/ng-template" id="addHolidayModal.html">
<div class="modal-content">
			    <div class="modal-header">
			        <h3>Ustal wakacje</h3>
			    </div>
			        <div class="modal-body" style="text-align:center;">
			        <div class="row-fluid">
			            <div class="span10 offset1">
			                <div id="modalTab">
			                    <div class="tab-content">
			                        <div class="tab-pane active" id="login">
			                            <form name="holidayForm" novalidate>
											<div class="row vertical-align">
												<div class="col-md-1">
													<span>Od:</span>
												</div>
												<div class="col-md-4">

												<div class="input-group">
												<input type="text" 
													class="form-control" 
													ng-change="getStartDate()" 
													uib-datepicker-popup="{{format}}"
													ng-model="ctrl.holiday.startDate" 
													is-open="popup1.opened" 
													ng-model-options="{timezone: 'utc'}"
													datepicker-options="dateOptions" 
													ng-required="true" 
													close-text="Close" 
													alt-input-formats="altInputFormats" 
													required
													name="dateToField"
													ng-class="{submitted:holidayForm.submitted}"
												/>
			          							<span class="input-group-btn">
			            							<button 
														type="button" 
														class="btn btn-default" 
														ng-click="open1()">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
			          							</span>

												</div>
												</div>
												

												<div class="col-md-1">
													<span>Do:</span>
												</div>
												<div class="col-md-4">

												<div class="input-group">
												<input type="text" 
													class="form-control" 
													ng-change="getEndDate()" 
													uib-datepicker-popup="{{format}}"
													ng-model="ctrl.holiday.endDate" 
													is-open="popup2.opened" 
													ng-model-options="{timezone: 'utc'}"
													datepicker-options="dateOptions" 
													ng-required="true" 
													close-text="Close" 
													alt-input-formats="altInputFormats" 
													required
													name="dateFromField"
													ng-class="{submitted:holidayForm.submitted}"
												/>
			          							<span class="input-group-btn">
			            							<button 
														type="button" 
														class="btn btn-default" 
														ng-click="open2()">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
			          							</span>

												</div>
												</div>
											</div>
							<div class="row">
								<div class="col-md-offset-1 col-md-5">
									<span 
    									ng-show="holidayForm.dateToField.$error.required && holidayForm.submitted" 
    									style="color : #f00; float:left;"
    									>Wymagana data początkowa
    								</span>
								</div>
								<div class="col-md-5">
									<span 
    									ng-show="holidayForm.dateFromField.$error.required && holidayForm.submitted" 
    									style="color : #f00; float:left;"
    									>Wymagana data do
    								</span>
								</div>
							</div>
										<br>
			                        </div>
			                       		<div class="modal-footer">
            							<button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
            							<button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        								</div>
			                       </form>
			                    </div>
			                </div>
			            </div>
			        </div>
</div>
	<style>
input.submitted.ng-invalid{
  border:2px solid #f00;
}
	</style>
</script>