<meta meta charset=utf-8>
<script type="text/ng-template" id="addVisitModal.html">


<link href="css/fonts/font-awesome.min.css" rel="stylesheet">

   <!-- <div id="login-overlay" class="modal-dialog">-->
      <div class="modal-content">
         <form name="addVisitForm" novalidate>
		<!-------------------------header----------------------->
          <div class="modal-header" style="">
				<div class="row vertical-align">
					<div class="col-xs-4">
              			<h3 class="modal-title">{{'patients.add_a_visit' | translate}} </h3>
					</div>
					<div class="col-xs-8">
				<!-------------------------ui-select----------------------->
				<ui-select 
					id="selectedPatientId"
					ng-model="visit.patientId" 
					theme="select2" 
					ng-disabled="disabled" 
					style="min-width: 300px;" 
					title="Choose a person" 
					on-select="ctrl.onSelectPatient($item, $model)" 
					required
					name="selectPatientId"
					ng-class="{submitted:addVisitForm.submitted}"
					
				>
    			<ui-select-match 
					placeholder="{{'commons.select_patient' | translate}}" >{{$select.selected.firstname}} {{$select.selected.lastname}}
				</ui-select-match>
    			<ui-select-choices 
					repeat="person in ctrl.people | propsFilter: {firstname: $select.search, lastname: $select.search, age: $select.search}" >
      				<div ng-bind-html="person.firstname + ' ' + person.lastname | highlight: $select.search"></div>
      				<small>
        				email: {{person.email}}
        				age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
      				</small>
    			</ui-select-choices>
  				</ui-select> 


				<style>
				.select2-container .select2-choice {
				height: 61px; background: #f6f9fc;font-size: 16px;padding-left: 10px;
				}
				.select2 > .select2-choice.ui-select-match {
				    height: 31px;
				}
				</style>
					<!-------------------------/ui-select----------------------->
				</div>
				</div>
				<div class="row">
					<div class="col-xs-offset-6 col-xs-4">
						<span 
	                 		 ng-show="addVisitForm.selectPatientId.$error.required && addVisitForm.submitted " 
	                  		 style="color : #f00; float: left;"
	                  		 >{{'commons.select_patient' | translate}}
	            		</span>
					</div>
				</div>
          </div>
		<!-------------------------/header----------------------->
	
          <div style="margin-top: 1px; background-color: #2e77bc; height: 1px; width: 100%;"></div>

		<!-------------------------body----------------------->
          <div class="modal-body">
              <div class="row">
					<!-------------------------left----------------------->
                 <div class="col-xs-6">
              		<h4>{{'visit.patient_data' | translate}} </h4>
                       <div class="row">
							<div class="col-xs-5">
								<span style="color: #acacac; font-size: 9pt; text-align: left;"
								>{{'patients.firstName_lastName' | translate}} 
								</span>  
							</div>
							<div class="col-xs-7">
								<span style="font-size: 9pt; text-align: left;"
								>{{ctrl.choosedPatient.firstname}} {{ctrl.choosedPatient.lastname}}
								</span>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-5">
								<span style="color: #acacac; font-size: 9pt; text-align: left;"
								>E-mail: 
								</span>  
							</div>
							<div class="col-xs-7">
								<span style="font-size: 9pt; text-align: left;"
								>{{ctrl.choosedPatient.email}}
								</span>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-5">
								<span style="color: #acacac; font-size: 9pt; text-align: left;"
								>{{'commons.age' | translate}}:
								</span>  
							</div>
							<div class="col-xs-7">
								<span style="font-size: 9pt; text-align: left;"
								>{{ctrl.choosedPatient.age}}
								</span>
							</div>
						</div>

						
                          <div style="margin-top: 8px; margin-bottom: 8px; width: 100%; height: 1px; background-color: #d9d9d9;"></div>
                      	
						<h4>{{'patient.patient_description' | translate}}</h4>

						<div class="row">
							<div class="col-xs-12">
								<div style="word-wrap: break-word;">
									<span style="font-size: 7pt; text-align: left;"
										>{{ctrl.choosedPatient.description}}
									</span>
									
								</div>
								
							</div>
						</div>
                  </div>
							<!-------------------------left----------------------->

							<!-------------------------right----------------------->
                  <div class="col-xs-6">
                      <div class="well">
                            <div style="color: #acacac; font-size: 9pt; text-align: center; padding: 0px; margin-bottom: 6px;">Ustal wizyte</div>
									<div class="row vertical-align">
										<div class="col-xs-4" style="justify-content: end;">
											<span style="color: #acacac; font-size: 9pt; text-align: left;">
											{{'visit.date_of_visit' | translate}}:<span style="color:red;">*</span>
											 
											</span>
										</div>
										<div class="col-xs-8">
											<div class="input-group">
			          							<input type="text" 
													class="form-control" 
													ng-change="getDate()" 
													uib-datepicker-popup="{{format}}"
													ng-model="ctrl.visit.startDate" 
													is-open="popup1.opened" 
													ng-model-options="{timezone: 'utc'}"
													datepicker-options="dateOptions" 
													ng-required="true" 
													close-text="Close" 
													alt-input-formats="altInputFormats" 
													required
													placeholder="{{'commons.select_date' | translate}}"
													name="dateField"
													id="dateField"
													ng-class="{submitted:addVisitForm.submitted}"
												/>
			          							<span class="input-group-btn">
			            							<button 
														type="button" 
														class="btn btn-default" 
														ng-click="open1()">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
			          							</span>
			        						</div>
										</div>
									</div>
									<div class="row col-md-offset-4">
										<span 
	                  						ng-show="addVisitForm.dateField.$error.required && addVisitForm.submitted " 
	                  						style="color : #f00; float: left;"
	                  						>{{'commons.select_date' | translate}}
	            						</span>
									</div>

									<div class="row vertical-align" style="padding-top: 6px;">
										<div class="col-xs-4" style="justify-content: end;">
											<span style="color: #acacac; font-size: 9pt; text-align: left;"
												>{{'commons.hour' | translate}}:<span style="color:red;">*</span>
											</span>  
										</div>
										<div class="col-xs-8">
											<select 
		               							id="hourField" 
		               							name="hourField" 
		               							class="form-control" 
		               							required="required"
		               							ng-model="ctrl.visit.hour"
		               							ng-class="{submitted:addVisitForm.submitted}"
		               							ng-options="country.name for country in ctrl.countries"
												style="background: #f6f9fc;"
	               								>
												<option style="display:none" value="">{{'commons.select_hour' | translate}}</option>
	               							</select>
										</div>
									</div>

					<style>
						select.ng-dirty,select.ng-touched {
						  color: black;
						  font-size: 16px;
							padding-left: 5px;
						}
						select.ng-pristine {
						  color: #989595;
						  padding-left: 5px;
						  font-size: 16px;
						}
						option {
							color: black;
						}
		             </style>
									<div class="row col-md-offset-4">
										<span 
	                  						ng-show="addVisitForm.hourField.$error.required && addVisitForm.submitted " 
	                  						style="color : #f00; float: left;"
	                  						>{{'commons.select_hour' | translate}}
	            						</span>
									</div>
									
									<div class="row vertical-align" style="padding-top: 6px;">
										<div class="col-xs-4" style="justify-content: end;">
											<span style="color: #acacac; font-size: 9pt; text-align: left;"
											>{{'addVisit.visit_length' | translate}}:<span style="color:red;">*</span>
											</span>  
										</div>
										<div class="col-xs-8">
											<input
											name="lengthField"
											id="lengthField"
											class="form-control" 
											ng-model="ctrl.visit.length"
											required
											placeholder="{{'visit.visit_length' | translate}}"
											ng-class="{submitted:addVisitForm.submitted}"
											type="text"
											>
										</div>
									</div>
									<div class="row col-md-offset-4" ng-show="addVisitForm.lengthField.$error.required && addVisitForm.submitted" >
										<span 
	                  						style="color : #f00; float: left;"
	                  						>{{'visit.what_visit_length' | translate}}
	            						</span>
									</div>

									<div class="row " style="padding-top: 6px;">
										<div class="col-xs-4" style="justify-content: end;text-align: right;margin-top: 7px;">
											<span style="color: #acacac; font-size: 9pt; text-align: left;"
											>{{'commons.services' | translate}}:<span style="color:red;">*</span>
											</span>  
										</div>
										<div class="col-xs-8">
											<div style="padding-bottom:35px;">
											<select 
		               							id="selectService" 
		               							name="selectService" 
		               							class="form-control" 
		               							required="required"
		               							ng-model="ctrl.visit.service"
		               							ng-class="{submitted:addVisitForm.submitted}"
		               							ng-options="service.id as service.serviceName + ' (' + service.price + ')' for service in services"
												style="background: #f6f9fc;width:90%;float:left;"
	               								>
											<option style="display:none;" value=""><span style="color:green;">{{'commons.select_service' | translate}}</span></option>
	               							</select>
											<add-service-directive counter="counter" services-to-select="services"></add-service-directive>
											<span 
	                  							ng-show="addVisitForm.selectService.$error.required && addVisitForm.submitted " 
	                  							style="color : #f00; float: left;"
	                  							>{{'commons.select_service' | translate}}
	            							</span>
											</div>
											<div class="hidden_0"/>
										</div>
									</div>
								
									
                     		</div>
                  		</div>
							<!-------------------------/right----------------------->
              </div>
          	</div>

		<!-------------------------/body----------------------->

			<div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="ok(visit)">{{'commons.save' | translate}}</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">{{'commons.cancel' | translate}}</button>
        	</div>
		</form> 
  </div>
<style>
.app-modal-window .modal-dialog {
  	width: 1000px;
	height: 1000px;
}

#selectedPatientId.submitted.ng-invalid, input.submitted.ng-invalid,select.submitted.ng-invalid{
  	border:2px solid #f00;
	border-radius: 4px;
}
</style>
  </script>