<meta meta charset=utf-8>
<script type="text/ng-template" id="addVisitModal.html">
<style>
	.app-modal-window .modal-dialog {
  width: 800px;
}
.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}
</style>
<div class="modal-header">
     <h3 class="modal-title">Dodaj wizyte </h3>
</div>
	<form method="post" 
		name="addVisitForm"
		id="addVisitForm"
		novalidate>
        <div class="modal-body">

  				   <!--  <div class="btn-group dropdown" uib-dropdown="" is-open="status.isopen" style="">
  					   	<button 
							id="single-button" 
							type="button" 
							class="btn btn-primary dropdown-toggle" 
							uib-dropdown-toggle="" 
							ng-disabled="disabled" 
							aria-haspopup="true" 
							aria-expanded="false">
   					    	 Część ciała<span class="caret"></span>
   					   		</button>
  				    		<ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="single-button" style="min-width: 120px;">
    					    		<li ng-repeat="part in bodyPart">
   					       		<a href>{{part}}</a>
									</li>
     							 </ul>
   								 </div> -->
	<div class="container">
		<div class="row vertical-align">
			<div class="col-sm-2">
				<p>Wybierz pacjenta:</p>
  					
			</div>
			<div class="col-sm-10">
  				<ui-select 
					ng-model="visit.patientId" 
					theme="select2" 
					ng-disabled="disabled" 
					style="min-width: 300px;" 
					title="Choose a person" 
					on-select="ctrl.onSelectPatient($item, $model)" 
					required
					name="selectPatientId"
					ng-class="{submitted:addVisitForm.submitted}"
				>
    			<ui-select-match 
					placeholder="Wybierz pacjenta z listy" >{{$select.selected.firstname}} {{$select.selected.lastname}}
				</ui-select-match>
    			<ui-select-choices 
					repeat="person in ctrl.people | propsFilter: {firstname: $select.search, lastname: $select.search, age: $select.search}" >
      				<div ng-bind-html="person.firstname + ' ' + person.lastname | highlight: $select.search"></div>
      				<small>
        				email: {{person.email}}
        				age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
      				</small>
    			</ui-select-choices>
  				</ui-select>
				<div class="row" ng-show="addVisitForm.selectPatientId.$error.required && addVisitForm.submitted" >
				<span 
    				
    				style="color : #f00; float:left;"
    				>{{'commons.select_date' | translate}}
    			</span> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<div class="col-md-6">
					Imię:
					</div>
					<div class="col-md-6">
					{{ctrl.choosedPatient.firstname}}
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
					Nazwisko:
					</div>
					<div class="col-sm-6">
					{{ctrl.choosedPatient.lastname}}
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
					Data urodzin:
					</div>
					<div class="col-sm-6">
					{{ctrl.choosedPatient.birthDate}}
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
					Opis:
					</div>
					<div class="col-sm-6">
					 {{ctrl.choosedPatient.description}}
					</div>
				</div>
				
				<hr>

				<div class="row">
					<div class="col-sm-6">
					Data wizyty:
					</div>
					<div class="col-sm-6">
					 	<p class="input-group">
			          		<input type="text" 
								class="form-control" 
								ng-change="getDate()" 
								uib-datepicker-popup="{{format}}"
								ng-model="visit.startDate" 
								is-open="popup1.opened" 
								datepicker-options="dateOptions" 
								ng-required="true" 
								close-text="Close" 
								alt-input-formats="altInputFormats" 
								required
								name="dateField"
								ng-class="{submitted:addVisitForm.submitted}"
								/>
			          		<span class="input-group-btn">
			            	<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			          		</span>
			        	</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
					Godzina:
					</div>
					<div class="col-sm-6">
						<ui-select 
							ng-model="visit.hour" 
							theme="selectize" 
							ng-disabled="ctrl.disabled"  
							title="Choose a country"
							on-select="ctrl.onSelectHour($item, $model)"
							name="hourField"
							id="hourField"
							required
							ng-class="{submitted:addVisitForm.submitted}"
							 >
    				<ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
    				<ui-select-choices repeat="country in ctrl.countries | filter: $select.search">
      					<span ng-bind-html="country.name | highlight: $select.search"></span>
      					<small ng-bind-html="country.code | highlight: $select.search"></small>
    				</ui-select-choices>
  					</ui-select>
					visit.hour {{visit.hour.name}}
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
					Długość
					</div>
					<div class="col-sm-6">
							<input
								name="lengthField"
								id="lengthField"
								class="" required="required"
								ng-model="visit.length"
								required
								ng-class="{submitted:addVisitForm.submitted}"
								>
							visit.length {{visit.length}}
					</div>
				</div>
				
				
			</div>
			<div class="col-sm-8">
				<p>Data ostatniej wizyty: {{ctrl.lastVisit.date | date:'yyyy-MM-dd'}} </p>
				<p>Opis ostatniej wizyty: {{ctrl.lastVisit.description}} </p>
				<hr>
				<p>Data ostatniego wywiadu: {{ctrl.choosedPatient.firstname}} </p>
				<p>ostatni wywiad: {{ctrl.choosedPatient.firstname}} </p>
			</div>
		</div>
	</div>
	
</div>



		ctrl.addVisitForm.$valid {{ctrl.addVisitForm.$valid}}<br>
		addVisitForm.lengthField.$error.required {{addVisitForm.lengthField.$error.required}}<br>
		addVisitForm.selectPatientId.$error.required {{addVisitForm.selectPatientId.$error.required}}<br>
		addVisitForm.hourField.$error.required {{addVisitForm.hourField.$error.required}}<br>
		addVisitForm.dateField.$error.required {{addVisitForm.dateField.$error.required}}<br>
       </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(visit)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</form>

<style>
.overlay { background:transparent; width:100%; height:100%; position:absolute; top:0; left:0; }

input.submitted.ng-invalid{
  border:2px solid #f00;
}

ui-select .submitted.ng-invalid{
  border:2px solid #f00;
}
</style>
 <style>
        body {
            padding: 15px;
        }

        .select2 > .select2-choice.ui-select-match {
            /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
        /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
        .select-box {
          background: #fff;
          position: relative;
          z-index: 1;
        }
        .alert-info.positioned {
          margin-top: 1em;
          position: relative;
          z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
        }
    </style>
</script>