 <script type="text/ng-template" id="myModal.html">
<meta meta charset=utf-8>
 <div class="modal-header">
            <h3 class="modal-title">{{'interview.add_an_interview' | translate}}</h3>
</div>
<div class="modal-body">
	<form name="interviewForm" novalidate>
	<div class="row vertical-align">
	 	<div class="col-md-2">
			<span>{{'interview.kind_of_pain' | translate}}:</span>
		</div>
		<div class="col-md-3">
			<div class="btn-group dropdown" uib-dropdown="22" is-open="status.isopen" style=""  on-toggle="toggled(open)"
>
      			<button id="single-button" type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle
>
       	 			{{painDisplay}}<span class="caret"></span>
      			</button>
      			<ul class="dropdown-menu" uib-dropdown-menu="22" role="menu" aria-labelledby="single-button" style="min-width: 120px;">
        			<li role="menuitem"> 
          				<a href="" ng-click="change(pain.painName)" ng-repeat="pain in pains">{{pain.painName}}</a>
					</li>
     		 	</ul>
   		 	</div>
			<input type="hidden" name="painInput" required  ng-model="interview.painInput">
			
		</div>
		<div class="col-md-2">
			<span>{{'interview.place_of_pain' | translate}}:</span>
		</div>
		<div class="col-md-3">
			<div class="btn-group dropdown" uib-dropdown="22" is-open="status2.isopen" style=""  on-toggle="toggled2(open)">
      			<button id="single-button2" type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
       	 			{{bodyDisplay}}<span class="caret"></span>
      			</button>
      			<ul class="dropdown-menu" uib-dropdown-menu="22" role="menu" aria-labelledby="single-button2" style="min-width: 120px;">
        			<li role="menuitem"> 
          				<a href="" ng-click="change2(body)" ng-repeat="body in bodyPart">{{body}}</a>
					</li>
     		 	</ul>
   		 	</div>
			<input type="hidden" name="bodyInput" required  ng-model="interview.bodyInput">
		</div>
		
	
	</div>
	

	<div class="row">
		<div class="col-md-offset-2">
			<span 
		    	ng-show="interviewForm.painInput.$error.required  && interviewForm.submitted" 
		    	style="color : #f00; float:left;"
		    	>{{'interview.choose_the_type_of_pain' | translate}}
		    </span>
		</div>
		<div class="col-md-offset-7">
			<span 
		    	ng-show="interviewForm.bodyInput.$error.required  && interviewForm.submitted" 
		    	style="color : #f00; float:left;"
		    	>{{'interview.choose_a_place_of_pain' | translate}}
		    </span>
		</div>
	</div>


	<div class="row " style="padding-top: 15px;">
		<div class="col-md-2" style="padding-left: 28px;">
			<span >{{'commons.description' | translate}}:</span>
		</div>
		<div class="col-md-8">
			<div class="form-group" >
				<textarea name="description"
					class="form-control" 
					placeholder="{{'commons.additional_information' | translate}}"
					id="description" 
					style="height: 61px; 
					background: #f6f9fc;"
					ng-model="interview.description">
				</textarea>
			</div>
		</div>

	</div> 
	</form>
 </div>     

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{'commons.save' | translate}}</button>
            <button class="btn btn-warning" ng-click="cancel()">{{'commons.cancel' | translate}}</button>
        </div>
<style>
.modal-dialog {
    width: 800px;
}

input.submitted.ng-invalid{
  border:2px solid #f00;
}
</style>

</script>