 <script type="text/ng-template" id="interviewModal.html">
<meta meta charset=utf-8>
<form name="interviewForm" novalidate>
 <div class="modal-header vertical-align">
            <h3 class="modal-title">{{'interview.add_an_interview' | translate}}</h3>
	<div class="form-group">
			  <label class="col-md-offset-2 col-md-2 control-label" for="datapicker">
			  	<span style="display: inherit;padding-top: 8px;">{{'commons.date' | translate}}:<i style="color:red;">*</i></span>
			  </label>  
			  <div class="col-md-8">
			  	 <div class="input-group">
				  	<input type="text" 
						class="form-control" 
						ng-change="getDate()" 
						uib-datepicker-popup="{{format}}"
						ng-model="interview.startDate" 
						is-open="popup1.opened" 
						ng-model-options="{timezone: 'utc'}"
						datepicker-options="dateOptions" 
						ng-required="true" 
						close-text="Close" 
						alt-input-formats="altInputFormats" 
						required
						name="dateField"
						ng-class="{submitted:interviewForm.submitted}"
					/>
			          <span class="input-group-btn" id="spanDate">
			            <button 
			            	type="button" 
			            	class="btn btn-default" 
			            	ng-click="open1()">
			            	<i class="glyphicon glyphicon-calendar"></i>
			            </button>
			          </span>
				</div>
				<span 
    				ng-show="interviewForm.dateField.$error.required && interviewForm.submitted" 
    				style="color : #f00; float:left;"
    				>{{'commons.select_date' | translate}}
    			</span>
    			<span 
   					ng-show="interviewForm.dateField.$error.date && interviewForm.submitted"
   					style="color : #f00; float:left;"
   					>{{'commons.incorrect_date' | translate}}
   				</span>
			  </div>
			</div>


</div>
<div class="modal-body" style="padding-bottom: 5px;">
	<div class="row vertical-align">
	 	<div class="col-md-2">
			<span>{{'interview.kind_of_pain' | translate}}:</span>
		</div>
		<div class="col-md-3" style="justify-content: left;">

			<select 
			    id="selectPain_0"
			    name="selectPain_0" 
			    class="form-control" 
			    required="required"
			    ng-model="interview.painInput_0"
			    ng-class="{submitted:interviewForm.submitted}"
			    ng-options="pain.painName for pain in pains track by pain.id"
			    style="background: #f6f9fc;float:left;"
				style="min-width: 150px;"
		        >
		   </select>

		</div>
		<div class="col-md-2">
			<span>{{'interview.place_of_pain' | translate}}:</span>
		</div>

		<div class="col-md-3" style="justify-content: left;">

			<select 
			    id="selectBodyPart_0" 
			    name="selectBodyPart_0" 
			    class="form-control" 
			    required="required"
			    ng-model="interview.bodyInput_0"
			    ng-class="{submitted:interviewForm.submitted}"
			    ng-options="body.bodyName for body in bodyPart track by body.id"
			    style="background: #f6f9fc;float:left;"
				style="min-width: 150px;"
		        >
		   </select>
		</div>
		<multiple-body-and-place-directive counter="counter" pains="pains" body-part="bodyPart"></multiple-body-and-place-directive>

	</div>

	<div class="row">
		<div class="col-md-offset-2">
			<span 
		    	ng-show="interviewForm.selectPain_0.$error.required  && interviewForm.submitted" 
		    	style="color : #f00; float:left; margin	-left: 15px;"
		    	>{{'interview.choose_the_type_of_pain' | translate}}
		    </span>
		</div>
		<div class="col-md-offset-7">
			<span 
		    	ng-show="interviewForm.selectBodyPart_0.$error.required  && interviewForm.submitted" 
		    	style="color : #f00; float:left; margin-left: 15px;"
		    	>{{'interview.choose_a_place_of_pain' | translate}}
		    </span>
		</div>
	</div>


	<div class="row " style="padding-top: 15px;">
		<div class="col-md-2" style="padding-left: 28px;">
			<span >{{'commons.description' | translate}}:</span>
		</div>
		<div class="col-md-8">
			<div class="form-group" >
				<textarea name="description"
					class="form-control" 
					placeholder="{{'commons.additional_information' | translate}}"
					id="pain_description_0" 
					style="height: 54px; 
					background: #f6f9fc;"
					ng-model="interview.description"
					rows="1" cols="50">
				</textarea>
			</div>
		</div>

	</div> 
	<div class="hidden_0"/>
 </div>     
</form>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{'commons.save' | translate}}</button>
            <button class="btn btn-warning" ng-click="cancel()">{{'commons.cancel' | translate}}</button>
        </div>
<style>
.modal-dialog {
    width: 800px;
}

input.submitted.ng-invalid{
  border:2px solid #f00;
}

select.submitted.ng-invalid{
  border:2px solid #f00;
}
</style>

</script>